<!DOCTYPE HTML>
<html>
{% load i18n %}

    <head>
        <!-- Latest compiled and minified CSS -->
        <script src="/static/js/jquery.min.js" type="text/javascript"></script>
	<script> {% include "timezoneinfo" %} </script>
        <link rel='stylesheet' type='text/css' href='/static/project/css/style.css'/>
        {% include "bootstrap" %}
        {% block css %} {% endblock %}
        {% block script %} {% endblock %}
        <title> {% block title %} QRAAT Site {% endblock %} </title>
    </head>

    <body>
        <div id="container" class="container">
            {% block topbar %}
                {% include "navbar.html" %}
            {% endblock %}
            <div class="sidebar">
                {% block sidebar %}
                {% endblock %}
            </div>
            <div class="content">
                {% block content %} {% endblock %}
                <div class="footer_buffer"></div>
            </div>
            <div id="footer_container">
                <div id="footer">
                    <hr style="margin-bottom:5px">
                    <a href="#top" style="margin-right:10px">↑Top</a> QRAAT <span style="float:right"><a href="/about" style="margin-right:10px">About</a/> Server Time: Pacific</span>
                </div>
            </div>
        </div>
    </body>
</html>
