<nav class="navbar" role="navigation">
    <div class="nav nav-inner">
        <div class="navbar-header">
            <a class="navbar-brand" href={% url 'index' %}>Qraat</a>
        </div>
        <ul class="nav navbar-nav" role="tablist">
        {% for nav_option in nav_options %}
            <li><a href={% url nav_option.url %}>{{nav_option.name}}</a></li>
        {% endfor %}
        </ul>
        <ul class="nav navbar-nav navbar-right dropdown" role="navigation">
            <li>
                {% if user.is_authenticated %}
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">{{user}} <span class="caret"> </span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href={% url 'account:user-account' %}>Account</a></li>
                    <li><a href={% url 'account:logout' %}>Logout</a></li>
                </ul>
                {% else %}
                    <a href="/account/login">Sign in</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
