{% extends "qraat_auth/base.html" %}

{% block content %}
<div class="page-header">
    <h2>Users
    </h2>
</div>
<div class="table-body">
    <div  class="table-element table-row">
        <span class="table-element table-cell">ID</span>
        <span class="table-element table-cell">Email</span>
        <span class="table-element table-cell">First Name</span>
        <span class="table-element table-cell">Last Name</span>
        <span class="table-element table-cell">Date Joined</span>
    </div>
    {% for user in users  %}
    <a href="user-account/{{user.id}}" class="table-element table-row">
            <span class="table-element table-cell"> {{user.id}}</span>
            <span class="table-element table-cell">{{user.email}}</span>
            <span class="table-element table-cell">{{user.first_name}}</span>
            <span class="table-element table-cell">{{user.last_name}}</span>
            <span class="table-element table-cell">{{user.date_joined}}</span>
        </a>
    {% endfor %}
</div>
{% endblock %}
