.sidebar{
    float:left;
    width: 20%;
}
.content{
    float: right;
    width: 80%;
}

.manage-button{
    float: left;
    padding-right: 1%;
}

.form-row {
    font-size: 11px;
    height: inherit;
    padding: inherit;
    display: inherit;
    box-sizing: inherit;
    border: 1px solid #EEE;
}

.form-row input, form-row textarea, form-row h2{
    border: 1px solid #CCC;
}

.form-row input, form-row textarea, form-row select, form-row p{
    margin: 2px 0px;
    padding: 2px 3px;
    vertical-align: middle;
    font-family: "Lucida Grande",Verdana,Arial,sans-serif;
    font-weight: normal;
    font-size: 11px;
}

.selector h2 {
    margin: 0px;
    padding: 2px 5px 3px;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
    background: url('../img/default-bg.gif') repeat-x scroll left top #7CA0C7;
    color: #FFF;
}

.table-body{
    display: table;
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0px;
}

.table-element{
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #DDD;
}

.table-row{
    display: table-row;
    cursor: pointer;
}
.table-cell{
    display: table-cell;
}

.obj-list{
   display: block; 
   background: None;
}

.obj-element{
    background: None;
    display: block;
    padding-left: 2%;
}
