html {
    position: relative;
    min-height: 100%;
}

.container {
    height: 100%;
}

.sidebar{
    margin-top: 3%;
    float:left;
    width: 17%;
    background-color: #F1F5F8;
    border-radius: 10px;
    -moz-border-radius: 10px;

}

.nav-stacked > li:hover{
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #EEE;
    width: 100%;
}

.content{
    float: right;
    width: 80%;
    min-height:100%;
    height:auto !important;
    height:100%;
    /* margin-bottom: 1%; */
    /*margin: 0 auto -25px; /* for the footer */ 
    /*padding-bottom: 25px; */
}

.manage-button{
    float: left;
    padding-right: 1%;
}

.form-row {
    font-size: 11px;
    height: inherit;
    padding: inherit;
    display: inherit;
    box-sizing: inherit;
    border: 1px solid #EEE;
}

.form-row input, form-row textarea, form-row h2{
    border: 1px solid #CCC;
}

.form-row input, form-row textarea, form-row select, form-row p{
    margin: 2px 0px;
    padding: 2px 3px;
    vertical-align: middle;
    font-family: "Lucida Grande",Verdana,Arial,sans-serif;
    font-weight: normal;
    font-size: 11px;
}

.selector h2 {
    margin: 0px;
    padding: 2px 5px 3px;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
    background: url('../img/default-bg.gif') repeat-x scroll left top #7CA0C7;
    color: #FFF;
}

.table-body{
    display: table;
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0px;
}

.table-element{
    padding: 6px;
    line-height: 1.22857;
    vertical-align: top;
    border-top: 1px solid #DDD;
}

.table-row{
    display: table-row;
    cursor: pointer;
}
.table-cell{
    display: table-cell;
}

.side-bar-element{
    width:100%;
    display: block;
    padding-left: 6%;
}

.obj-list{
   display: block; 
   background: none;
}

.obj-element{
    background: none;
    display: block;
    padding-left: 2%;
}

#footer_container {
    clear: both;
    z-index:1;
    width: inherit;
    position: absolute;
    bottom: 0px;
}

#footer {
    color: #BBB;
    margin-bottom: 5px;
}

.footer_buffer {
    height: 25px;
}

.warning-text, input-error {
    color: rgb(255, 20, 20);
}

.warning-border select,
.warning-border input,
.warning-border textarea {
    border-color: rgb(255, 20, 20);
    border-width: 2px;
}
