{% extends "qraat_site/base.html" %}


<!-- File: qraat_ui/templates/index.html -->

{% block css %}
  
  <style type="text/css">
    
    
    #map-canvas { 
      margin-top: 1cm; margin-right: 0.25cm; 
      height: 60%; width: 63%; float: right; 
      }
    
    #text {
      width: 33%; height: 100%; float: left; 
      font-size: 12px; margin: 1%;
      }
    
    #page_title { font-size: 18px; font-weight:bold; }
    
    .section_title { font-size: 15px; font-weight:bold; text-align:center;}
    
    #prefs {
      border-style:solid; border-width: 1px; 
      height: 32%; overflow: scroll; padding: 5px; 
      }
    
    #id_deployment {
      list-style-type: none;
      } /* removes the bullet points from the list of deps */

    #mouseover {
      border-style:solid; border-width: 1px; height: 15%; 
      overflow: scroll; padding: 5px;
      }
    
    #clicked {
      border-style:solid; border-width: 1px; height: 25%; 
      overflow: scroll; padding: 5px;
      }
    
    #right_side { float: center; }
    
    .current_info {
      font: normal 12px "omnes-pro", Helvetica, Arial, sans-serif;
      }
    
    #right_side2, #content2, .demo-placeholder2, .demo-placeholder { 
      float: right;
      }


</style>
{% endblock %}
{% block script %}
<!-- Link google maps API with alisha's gmail key -->
<script type="text/javascript" 
  src="https://maps.googleapis.com/maps/api/js?key={% load google_maps_api %}&sensor=false">
</script>
<link href="/static/flot/example.css" rel="stylesheet" type="text/css">
<script src="/static/flot/jquery-1.11.1.min.js"></script>
<script src="/static/flot/jquery.flot.min.js"></script>
<script src ="/static/flot/jquery.flot.time.min.js"></script>
<script src ="/static/flot/jquery.flot.selection.min.js"></script>
<script src="/static/flot/jquery.flot.threshold.min.js"></script>
<script src="/static/flot/jquery.flot.resize.min.js"></script>


<!-- plugins for saving graphs as images. commented out because they throw an error when a point on the flot graph is selected -->
<!-- <script type="text/javascript" src="http://zizhujy.com/Scripts/base64.js"></script>
<script type="text/javascript" src="http://zizhujy.com/Scripts/drawing/canvas2image.js"></script>
<script type="text/javascript" src="http://zizhujy.com/Scripts/flot/jquery.flot.saveAsImage.js"></script>
-->




<script type="text/javascript">

  // Global variables
  var highlightedPoly;
  var selectedMarker;
  var map;
  var mapCenter;
  var markers = [];

function hideFormFields() {
  if ({{view_type|safe}} == "deployment") {
    document.getElementById('id_deployment').style.display = 'none';
    document.querySelector("label[for='id_deployment_0']").style.display = "none";
    document.getElementById('id_graph_dep').style.display = 'none';
    document.querySelector("label[for='id_graph_dep']").style.display = "none";
    
    //this doesn't work:
    //var labels = document.getElementsByTagName('label');
    //for (var i=0; i <labels.length; i++) {
    //  var attr = labels[i].getAttribute('for');
    //  if (attr === this.id_deployment_0) {
    //    labels[i].style.visibility = 'hidden';
    //  }
   // }
  }
}

window.onload = function() {
  hideFormFields();
};


function submitForm() {
  document.getElementById('form').submit();
}

  // Show alert, called by html button. for testing purposes
//function showDjango() {
//    var selected_flot = document.getElementById("flot_index").value;
//      window.alert(selected_flot);
//}


// function setCenter is not working.
// It is intended to recenter the map on a button click.
function setCenter() { 
  map.panTo(new google.maps.LatLng(38.487828027, -122.149419006));
  //return false;
}



function initialize(){
    
    // Hard code the initial center latitude and longitude of the map 
    self.lat = 38.487828027;
    self.lng = -122.149419006;
    var myLatLng = new google.maps.LatLng(self.lat, self.lng);


// The following section saves the center and zoom for map reloads
  // otherwise, map would reset back to intial default center
  var reload_zoom;
  var mapOptions;

  // If: Map has been loaded before and bounds have changed
  // (this is when previous center and zoom are saved)...
  // Then: Set options to the the previous/saved center and zoom.
  if ((localStorage.mapLat != null) &&
      (localStorage.mapLng !=null) &&
      (localStorage.mapZoom !=null)) 
    {
      mapOptions = {
        center: new google.maps.LatLng(
          localStorage.mapLat, 
          localStorage.mapLng),
        zoom: parseInt(localStorage.mapZoom),
        mapTypeId: google.maps.MapTypeId.SATELLITE,
        
        panControl:true,
        zoomControl:true,
        mapTypeControl:true,
        scaleControl:true,
        streetViewControl:true,
        overviewMapControl:true,
        rotateControl:true
      }; // end map options
    } // end if map has been loaded before 


  // If: The map hasn't loaded before (nothing saved for center or zoom)...
  // Then: Set some default map options.
  else 
          // this doesn't work
              // if (((center_lat!=null) && 
              // (center_lng !=null) && 
              // (init_zoom !=null)) ||
              // ((localStorage.mapLat == null) && 
              // (localStorage.mapLng == null) &&
              // (localStorage.mapZoom == null)))
    {
      var mapOptions = {
        center: myLatLng,
        zoom: 14, // Scale of 1 to 20
        mapTypeId: google.maps.MapTypeId.SATELLITE,
   
        panControl:true,
        zoomControl:true,
        mapTypeControl:true,
        scaleControl:true,
        streetViewControl:true,
        overviewMapControl:true,
        rotateControl:true
    }; // end map options
   } // end if map hasn't been loaded before



// Creates the map object, using the mapOptions set above
  var map = new google.maps.Map(document.getElementById("map-canvas"),
      mapOptions);



// Listen and store center & zoom changes, to be used in map options

      // I think the following 4 lines are redundant:
      // mapCenter = map.getCenter();
      // localStorage.mapLat = mapCenter.lat();
      // localStorage.mapLng = mapCenter.lng();
      // localStorage.mapZoom = map.getZoom();

    google.maps.event.addListener(map, "center_changed", function(){
      mapCenter = map.getCenter();
      localStorage.mapLat = mapCenter.lat();
      localStorage.mapLng = mapCenter.lng();
      localStorage.mapZoom = map.getZoom();
    });

    google.maps.event.addListener(map, "zoom_changed", function (){
      mapCenter = map.getCenter();
      localStorage.mapLat = mapCenter.lat();
      localStorage.mapLng = mapCenter.lng();
      localStorage.mapZoom = map.getZoom();
    });
    
    google.maps.event.addListener(map, "click", function(event) {
    document.getElementById('clicked_lat_lng').value = 
    event.latLng.lat().toFixed(6) + ', ' + event.latLng.lng().toFixed(6);
    });

// SHOW CLICKED DATA POINT INFO
  var django_position = {{pos_data|safe}}; // list of all queried data
  //var selected_data = {{selected_data|safe}}; // data for clicked point
  // Note: |safe enables strings to be passed from django/json to js


  // If a point was clicked and therefore there is related data 
  // (this is a messy check)... Then populate the data. 
  // Date for fields in the db that are longer than 6 decimal places
  // are fixed to 6 decimal places. 
  
  //if (selected_data.length > 0) {
//    
//    if (selected_data[0][0] != null) {
//      document.getElementById('clicked_lat_lng').value = 
//        selected_data[0][0].toFixed(6)+', ' + // lat clicked on map
//        selected_data[0][1].toFixed(6);      // lng clicked on map
//      }
//    
//    document.getElementById('selected_point_latlon').innerHTML = 
//      selected_data[0][10][0].toFixed(6) + ', ' + // lat of actual pt in db
//      selected_data[0][10][1].toFixed(6);          // lng of point in db
//    document.getElementById('selected_point_eastingnorthing').innerHTML = 
//      selected_data[0][5] + ', ' +   // easting 
//      selected_data[0][6] + ', ' +   // northing
//      selected_data[0][7] + ' ' +    // zone number
//      selected_data[0][12];          // zone letter
//    document.getElementById('selected_point_date').innerHTML = 
//      selected_data[0][11];          // date string of timestamp
//    document.getElementById('selected_point_activity').innerHTML = 
//      selected_data[0][9].toFixed(6);  // activity
//    document.getElementById('selected_point_likelihood').innerHTML = 
//      selected_data[0][8].toFixed(6); // likelihood
//    document.getElementById('selected_point_positionID').innerHTML = 
//      selected_data[0][2];
//    document.getElementById('selected_point_deployment').innerHTML = 
//      selected_data[0][3];
//  
//  } // end if selected_data.length > 5
//


  // Map listens for clicks on the map
  // Submits clicked lat,lng to django (server to calculate closest point)

  //google.maps.event.addListener(map, 'click', function(event){
  //  // if statement may be redundant
  //  if ((event.latLng.lat() !==null) && (event.latLng.lng() !==null)) {
  //    // populates hidden html field in form
  //    document.getElementById('lat_clicked').value = event.latLng.lat()
  //    document.getElementById('lng_clicked').value = event.latLng.lng()
  //  
  //    // auto-submits the form
  //    document.getElementById("form").submit();
  //  } // end if
  //}); // end click addListener



  // Index of selected point, in array of points near the click
  
  var selected_index_large; 
  if (typeof {{selected_index_large}} == 'undefined') {
    selected_index_large = null;
  }
  else {
    selected_index_large = {{selected_index_large}};
  }


  // When google maps loads/refreshes, click 'button' to highlight 
  // point on flot graph again. Otherwise, it would disappear after reload
  
  google.maps.event.addListener(map, 'tilesloaded', function() {
    if (selected_index_large !=null) {
      document.getElementById('mapsIndexSubmit').click();
    } // end if selected_index, click hidden button that highlights flot
    if (flot_index != null) {
      document.getElementById('flotIndexSubmit').click();
    } // end if flot_index, click hidden button that highlights flot
  }); // end tilesloaded Listener



  // Mousemove Listener to display lat, lng of mouse location
  
  google.maps.event.addListener(map,'mousemove',function(event){
    // Note:  Use '.value' for <input>, then data appears in a box
    //        Use '.innerHTML' for <span>
    document.getElementById('latlong').value = 
      event.latLng.lat().toFixed(6) + ', ' + 
      event.latLng.lng().toFixed(6);
  }); //end onemousemove event listener



  // Idle Listener. Displays bounds, center, and zoom
  
  google.maps.event.addListener(map, 'idle', function(){    
    
    // bounds
    document.getElementById('bounds').innerHTML = 
      'NE: '+this.getBounds().getNorthEast().lat().toFixed(6)+ ', ' +
            this.getBounds().getNorthEast().lng().toFixed(6)+
      ' | SW: '+this.getBounds().getSouthWest().lat().toFixed(6)+', '+
            this.getBounds().getSouthWest().lng().toFixed(6);
      
    // center
    document.getElementById('current_center').innerHTML = 
      this.getCenter().lat().toFixed(6)+', ' + 
      this.getCenter().lng().toFixed(6);
      
    // zoom
    document.getElementById('current_zoom').innerHTML = 
      this.getZoom();
  
  }); // end idle Listener



// If site markers are chosen to be shown...
  // Then populate locations array with site data. Later used for markers
  var site_checked = {{site_checked}};
  var site_list = {{siteslist|safe}};
  var locations = [];


  // Show site markers if site is checked in preferences
  if (site_checked ==1) {
    for (var i = 0; i < site_list.length; i++) {
      locations.push([
        site_list[i][3],  // [0]: site location lat
        site_list[i][4],  // [1]: site location lng
        site_list[i][0],  // [2]: site ID
        site_list[i][1],  // [3]: site name
        site_list[i][2],  // [4]: site location string
        site_list[i][9]   // [5]: site elevation
        ]);
    } // end if site checked
  } // end looping through list of sites


  else {  // if sites are not checked, just push an empty list
    locations.push([]);
  }


// SET MARKERS: 
  var marker, i;
  var markers_sites = new Array();
  var infoWindows_sites = new Array();

  // Display markers for site locations
  for (i = 0; i < locations.length; i++) {
    
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i][0], locations[i][1]),
      map: map,
      icon: 'http://maps.google.com/mapfiles/ms/micons/green-dot.png',
      infoWindowIndex: i
    });   // end the setting of marker data to be pushed to array
    
    // Set infoWindow content
    if (locations.length>0) {
      var content = '<b>Site ID:</b> ' + locations[i][2] + 
                    ' or "' + locations[i][3]+'"' + 
                    '<br><b>Location:</b> ' + locations[i][4] + ', ' + 
                    '(' + locations[i][0] + ', ' + locations[i][1] + 
                    ')<b><br>Elevation:</b> ' + locations[i][5];
    }
    var infoWindow = new google.maps.InfoWindow({content: content});
    
    // click Listener for markers
    var clickedInfoWindowIndex;
    google.maps.event.addListener(marker, 'click', 
      function (event)
        {
          // Note: The following pans to point:
          // map.panTo(event.latLng);
          
          // If a site infoWindow is already open, close it.
          if (clickedInfoWindowIndex != null) {
            infoWindows_sites[clickedInfoWindowIndex].close();
          }
          
          // Open infoWindow for clicked site location
          infoWindows_sites[this.infoWindowIndex].open(map, this);
          clickedInfoWindowIndex = this.infoWindowIndex;
        } // end event function
    ); // end click Listener

    // push to the marker and infoWindow arrays for the site locations
    markers_sites.push(marker);
    infoWindows_sites.push(infoWindow);
  
  } //end for loop for site locations




// Display markers for the data points 
  var markers_querydata = new Array();
  var infoWindows_querydata = new Array();    
  var position_data = {{pos_data|safe}};
  var display_type = {{display_type}};

  // Display marker points if html pref is set to display them
 //Uncommenting to show on public
  var deps = {{deps_list}};
 
 if ( ((display_type != null) && (display_type==1) && 
      (position_data.length > 0))
      ||
      ({{view_type|safe}} == "deployment") && (display_type!=2)) {
    
    for (i=0; i < position_data.length-1; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(
          position_data[i][8][0], position_data[i][8][1]),
        map: map,
        //icon: 'http://www.geocodezip.com/mapIcons/small_blue_dot.png',
        infoWindowIndex: i
      });


//Hard code colors for markers. If dep in array == req_deps from views, display it as a marker of a certain color.

      if ( ({{view_type|safe}} == "deployment") || 
        ( (deps.length > 0) && (position_data[i][1] == deps[0]) ) ) {
    marker.setIcon('http://www.geocodezip.com/mapIcons/small_blue_dot.png')
      }
      if ((deps.length > 1) && (position_data[i][1] == deps[1])) {
  marker.setIcon('http://www.geocodezip.com/mapIcons/small_yellow_dot.png')
      }
      if ((deps.length > 2) && (position_data[i][1] == deps[2])) {
  marker.setIcon('http://www.geocodezip.com/mapIcons/small_green_dot.png')
      }
     if ((deps.length > 3) && (position_data[i][1] == deps[3])) {
  marker.setIcon('http://www.geocodezip.com/mapIcons/small_red_dot.png')
      }
  
      var content = '<b>DeploymentID: </b>' + position_data[0][1] + 
                    '<br>' + position_data[i][8][0].toFixed(5)
                    + ', ' + position_data[i][8][1].toFixed(5)+
                    '<br><b>PosID:</b> ' + position_data[i][0] + 
                    '<br><b>Time:</b> ' + position_data[i][10] +
                    '<br><b>Activity:</b> ' + position_data[i][7] + 
                    '<br><b>Likelihood:</b> ' + position_data[i][6];
        
      var infoWindow = new google.maps.InfoWindow({ content: content, 
          //Uncomment the following lines for infoWindow options
          //size: new google.maps.Size(150, 50),
          disableAutoPan: true
          });
      
    // submit clicked marker lat,lng to django server to find nearby pts
    google.maps.event.addListener(marker, 'click',
      function(event)
      { //submit the location of the click to django
        if ((event.latLng.lat() !==null) && (event.latLng.lng() !==null)) {
          // populates hidden html fields
          document.getElementById('lat_clicked').value = event.latLng.lat()
          document.getElementById('lng_clicked').value = event.latLng.lng()
          
      // submits html form
      document.getElementById("form").submit();
      } // end if statement for if the lat and lng are null
  }); // end event function and marker event listener
  
// on mousing over markers for data points, open them to show lat/lng
google.maps.event.addListener(marker, 'mouseover', function() {
  
  //Uncomment next line to show pop-up infowindows when mousing over marker data points
  //infoWindows_querydata[this.infoWindowIndex].open(map, this);

//mouseover markers to show info in html sidebar
document.getElementById('selected_point_latlon').innerHTML = 
  position_data[this.infoWindowIndex][8][0].toFixed(6) + ', ' +
  position_data[this.infoWindowIndex][8][1].toFixed(6); 
    // lat,lng of point in db
document.getElementById('selected_point_eastingnorthing').innerHTML = 
  position_data[this.infoWindowIndex][3] + ', ' +   // easting 
  position_data[this.infoWindowIndex][4] + ', ' +   // northing
  position_data[this.infoWindowIndex][5] + ' ' +    // zone number
  position_data[this.infoWindowIndex][9];          // zone letter
document.getElementById('selected_point_date').innerHTML = 
  position_data[this.infoWindowIndex][10];// datestring timestamp
document.getElementById('selected_point_activity').innerHTML = 
  position_data[this.infoWindowIndex][7].toFixed(6);  // activity
document.getElementById('selected_point_likelihood').innerHTML = 
  position_data[this.infoWindowIndex][6].toFixed(6); // likelihood
document.getElementById('selected_point_positionID').innerHTML = 
  position_data[this.infoWindowIndex][0];
document.getElementById('selected_point_deployment').innerHTML = 
  position_data[this.infoWindowIndex][1];
}); // end mouseover event function

google.maps.event.addListener(marker, 'mouseout', function() {
document.getElementById('selected_point_latlon').innerHTML = "" 
document.getElementById('selected_point_eastingnorthing').innerHTML = "" 
document.getElementById('selected_point_date').innerHTML = ""
document.getElementById('selected_point_activity').innerHTML = "" 
document.getElementById('selected_point_likelihood').innerHTML = ""
document.getElementById('selected_point_positionID').innerHTML = ""
document.getElementById('selected_point_deployment').innerHTML = ""

}); // end mouseout event function

// close infowindows on mousing out of marker
google.maps.event.addListener(marker, 'mouseout', function() {
  infoWindows_querydata[this.infoWindowIndex].close();
}); // end mouseout event function
    infoWindows_querydata.push(infoWindow);
    markers_querydata.push(marker);
} //end for loop for query data
} //end if statement for displaying query data as points (not lines)



// DISPLAY MARKER / "HIGHLIGHT" SELECTED POINT (clicked in maps or in flot)

// WHEN MAP IS CLICKED, display another marker there to highlight point
// If valid point (corresponds to db pt) is selected on maps, display it  
//FIXME: The following section could probably be consolidated so that when EITHER flot OR map is clicked, the same chunk of code for marker = new google.maps.Marker.... is used. The only difference appears to be the indexes: map_pos_index vs selected_index_large.

var selectedMarkers = new Array();
var map_pos_index = {{map_pos_index}};
if (map_pos_index != null) {
for (var i =0; i < selectedMarkers.length; i++) {
selectedMarkers[i].setMap(null);
}

marker = new google.maps.Marker({
  position: new google.maps.LatLng
    (
    position_data[map_pos_index][8][0],
    position_data[map_pos_index][8][1]
    ),
  map: map,
  zIndex: google.maps.Marker.MAX_ZINDEX + 1
  // zIndex sets marker on top of all other markers
  
  // Note: When no icon, uses default large/red marker
  // icon: 'http://maps.google.com/mapfiles/ms/micons/red-dot.png'

}); // end setting marker data


// Set on click infoWindow content for highlighted data marker

var content =   '<b>Data ID: </b>' + position_data[map_pos_index][1] +
  '<br><b>Deployment ID: </b>' + position_data[map_pos_index][0] + 
      '<br><b>Lat, Lon: </b> ' +
    position_data[map_pos_index][8][0].toFixed(6) + ', ' +
position_data[map_pos_index][8][1].toFixed(6) +
  '<br><b>Easting, Northing, Zone: </b> ' + 
    position_data[map_pos_index][3] + ', ' + 
    position_data[map_pos_index][4] + ', ' + 
  position_data[map_pos_index][5] +
      position_data[map_pos_index][9] +
  '<br><b>Date/Time: </b>' + position_data[map_pos_index][10] + 
    '<br><b>Activity: </b>' + position_data[map_pos_index][7] +
'<br><b>Likelihood: </b>' + position_data[map_pos_index][6];

var infoWindow = new google.maps.InfoWindow({content: content});

// click Listener for markers
google.maps.event.addListener(marker, 'click', 
  function (event)
    {
      infoWindow.open(map, this);
    } // end event function
); // end click Listener

} // end if map_pos_index

selectedMarkers.push(marker);





// WHEN FLOT POINT IS CLICKED, add a highlight marker to the point

var flot_index ={{flot_index}};
selected_index_large = {{selected_index_large}};


if (selected_index_large != null) {
for (var i =0; i < selectedMarkers.length; i++) {
selectedMarkers[i].setMap(null);
}
var position_data = {{pos_data|safe}};
marker = new google.maps.Marker({
  position: new google.maps.LatLng(
    position_data[selected_index_large][8][0], 
    position_data[selected_index_large][8][1]),
  map: map,
  zIndex: google.maps.Marker.MAX_ZINDEX + 1
  // zIndex sets marker on top of all other markers

  //no icon set, so default red large marker
  //icon: 'http://maps.google.com/mapfiles/ms/micons/red-dot.png'
});

var content ='<b>Deployment ID: </b>' + position_data[selected_index_large][1] +
  '<br><b>Data ID: </b>' + position_data[selected_index_large][0] + 
  '<br><b>Lat, Lon: </b> ' +
  position_data[selected_index_large][8][0].toFixed(6) + ', ' +
  position_data[selected_index_large][8][1].toFixed(6) +
  '<br><b>Easting, Northing, Zone: </b> ' + 
  position_data[selected_index_large][3] + ', ' + 
  position_data[selected_index_large][4] + ', ' + 
  position_data[selected_index_large][5] +
  position_data[selected_index_large][9] +
  '<br><b>Date/Time: </b>' + position_data[selected_index_large][10] + 
  '<br><b>Activity: </b>' + position_data[selected_index_large][7] +
  '<br><b>Likelihood: </b>' + position_data[selected_index_large][6];

var infoWindow = new google.maps.InfoWindow({content: content});

// click Listener for markers
google.maps.event.addListener(marker, 'click', 
  function (event)
    {
      infoWindow.open(map, this);
    } // end event function
); // end click Listener



// Attempt to extend bounds to show a pt that is selected in flot 
//var bounds = new google.maps.LatLngBounds();
//bounds.extend(marker.position);
//map.fitBounds(bounds);
map.panTo(marker.position);
 
} // end if point was selected in flot (index)



// push the "clicked point"  marker
selectedMarkers.push(marker);






              // WHEN HTML PREF IS SET TO 'Lines':

if ((display_type != null) && (display_type == 2)) {
// Populate data for the Polyline
var position_data = {{pos_data|safe}};
var flightPlanCoordinates = new Array();

for (i=0; i < position_data.length-1; i++) {
  var point = new google.maps.LatLng(
    position_data[i][8][0], position_data[i][8][1]);
  flightPlanCoordinates.push(point);
} // end for loop through queried data points


// Draw the polyline
var flightPath = new google.maps.Polyline({
  path: flightPlanCoordinates,
  infoWindowIndex: i,
  geodesic: true,
  strokeColor: '#8383FF',
  strokeOpacity: 1.0,
  strokeWeight: 2
}); // end drawing the Polyline


flightPath.setMap(map);

google.maps.event.addListener(flightPath, 'mouseover', function(event) {

//Attempt to get the index of the closest point to the mouse location
var vertex;
var i;
for (i=0; i < position_data.length; i ++) {
  if ((event.latLng.lat().toFixed(3) == position_data[i][8][0].toFixed(3)) && (event.latLng.lng().toFixed(3) == position_data[i][8][1].toFixed(3))) { vertex = i; }
}

if (vertex != null) {
document.getElementById('selected_point_latlon').innerHTML = 
  position_data[vertex][8][0].toFixed(6) + ', ' +
  position_data[vertex][8][1].toFixed(6);          
    // lat, lng of actual point in db
document.getElementById('selected_point_eastingnorthing').innerHTML = 
  position_data[vertex][3] + ', ' +   // easting 
  position_data[vertex][4] + ', ' +   // northing
  position_data[vertex][5] + ' ' +    // zone number
  position_data[vertex][9];          // zone letter
document.getElementById('selected_point_date').innerHTML = 
  position_data[vertex][10];          // date string of timestamp
document.getElementById('selected_point_activity').innerHTML = 
  position_data[vertex][7].toFixed(6);  // activity
document.getElementById('selected_point_likelihood').innerHTML = 
  position_data[vertex][6].toFixed(6); // likelihood
document.getElementById('selected_point_positionID').innerHTML = 
  position_data[vertex][0];
document.getElementById('selected_point_deployment').innerHTML = 
  position_data[vertex][1];
} // end if vertex

}); // end event mouseover eventListener


google.maps.event.addListener(flightPath, 'mouseout', function() {
document.getElementById('selected_point_latlon').innerHTML = "" 
document.getElementById('selected_point_eastingnorthing').innerHTML = "" 
document.getElementById('selected_point_date').innerHTML = ""
document.getElementById('selected_point_activity').innerHTML = "" 
document.getElementById('selected_point_likelihood').innerHTML = ""
document.getElementById('selected_point_positionID').innerHTML = ""
document.getElementById('selected_point_deployment').innerHTML = ""

}); // end mouseout event function




google.maps.event.addListener(flightPath, 'click', function(event) {
//Attempt to get the index of the closest point to the mouse location
var vertex;
var i;
for (i=0; i < position_data.length-1; i ++) {
  if ((event.latLng.lat().toFixed(2) == position_data[i][8][0].toFixed(2)) && (event.latLng.lng().toFixed(2) == position_data[i][8][1].toFixed(2))) { vertex = i; }
}

if (vertex != null) {
      document.getElementById('lat_clicked').value = event.latLng.lat()
      document.getElementById('lng_clicked').value = event.latLng.lng()
      
      // submits html form
      document.getElementById("form").submit();
      marker.setMap(null); 

//if (marker){
//  marker.setMap(null);

  // There is a bug; when a point is clicked in flot, 
  //the marker stays there when a point in google maps is clicked too. 
  //The Lines click in maps doesn't get passed to flot either 
  //because the html form input for lat_clicked and lng_clicked
  //are not submitted to calculate index for selected_data
  //Also, the map doesn't reload so the marker stays there.
  //need to figure out how to set markers declared elsewhere to "null"

  //selectedMarkers.setMap(null);
// }

marker = new google.maps.Marker({
  position: new google.maps.LatLng
    (
    position_data[vertex][8][0], 
    position_data[vertex][8][1]
    ),
  map: map,
  zIndex: google.maps.Marker.MAX_ZINDEX + 1
  // zIndex sets marker on top of all other markers
  
  // Note: When no icon, uses default large/red marker
  // icon: 'http://maps.google.com/mapfiles/ms/micons/red-dot.png'
}); // end setting marker data


// Set on click infoWindow content for highlighted data marker
var content = '<b>Deployment ID: </b>' + position_data[vertex][1] +
        '<br><b>Data ID: </b>' + position_data[vertex][0] + 
        '<br><b>Lat, Lon: </b> ' +
        position_data[vertex][8][0].toFixed(6) + ', ' +
        position_data[vertex][8][1].toFixed(6) +
        '<br><b>Easting, Northing, Zone: </b> ' + 
        position_data[vertex][3] + ', ' + 
        position_data[vertex][4] + ', ' + 
        position_data[vertex][5] +
        position_data[vertex][10] +
        '<br><b>Date/Time: </b>'  + position_data[vertex][9] + 
        '<br><b>Activity: </b>' +  position_data[vertex][7] +
        '<br><b>Likelihood: </b>' + position_data[vertex][6];

var infoWindow = new google.maps.InfoWindow({content: content});


// click Listener for markers
google.maps.event.addListener(marker, 'click', 
  function (event)
    {
      infoWindow.open(map, this);
    } // end event function
); // end click Listener


//Populate the html sidebar with related data

document.getElementById('selected_point_latlon').innerHTML = 
  position_data[vertex][8][0].toFixed(6) + ', ' + // lat of actual pt in db
  position_data[vertex][8][1].toFixed(6);          // lng of point in db
document.getElementById('selected_point_eastingnorthing').innerHTML = 
  position_data[vertex][3] + ', ' +   // easting 
  position_data[vertex][4] + ', ' +   // northing
  position_data[vertex][5] + ' ' +    // zone number
  position_data[vertex][9];          // zone letter
document.getElementById('selected_point_date').innerHTML = 
  position_data[vertex][10];          // date string of timestamp
document.getElementById('selected_point_activity').innerHTML = 
  position_data[vertex][7].toFixed(6);  // activity
document.getElementById('selected_point_likelihood').innerHTML = 
  position_data[vertex][6].toFixed(6); // likelihood
document.getElementById('selected_point_positionID').innerHTML = 
  position_data[vertex][0];
document.getElementById('selected_point_deployment').innerHTML = 
  position_data[vertex][1];
} // end if vertex

}); // end event mouseover eventListener




          // Polyline for Deployment 2


} // end if (html pref is set to show data as lines)

// Example of addListeners for the flightPath
  // On mouseover, the flightPath changes color
  
  //google.maps.event.addListener(flightPath, 'mouseover', function() {
    //flightPath.setOptions({strokeColor: '#00FFaa'});
  //});
  //google.maps.event.addListener(flightPath, 'mouseout', function () {
    //flightPath.setOptions({strokeColor: '#FF00FF'});
  //});


// Attempt at 2nd Polyline 
  // var flight_track = {{track_list}};
  // var flightPlanCoordinates2 = new Array();
  // for (i=0; i < flight_track.length-1; i++)
  // {
  //   var point2 = new google.maps.LatLng(
  //    flight_track[i][8][0], flight_track[i][8][1]);
  //   flightPlanCoordinates2.push(point);
  // }

// Draw 2nd blue polyline
  // var flightPath2 = new google.maps.Polyline({
  //   path: flightPlanCoordinates2,
  //   geodesic: true,
  //   strokeColor: '#0000FF',
  //   strokeOpacity: 1.0,
  //   strokeWeight: 1});

// flightPath2.setMap(map);



} //end function initialize



// Load google maps on browser window load
google.maps.event.addDomListener(window, 'load', initialize);





                        //FLOT GRAPH

var positions = {{pos_data|safe}};
if (positions.length != 0) {

//declare global variables
//global variable to be passed to google maps for the datetime
var clickedDateTime;

//save flot clicked info (don't think this needs to be global)
var flot_clicked_series;
var flot_clicked_datapoint;

$(function() {

// Data arrays
var d = [];
var d1 = [];
var d2 = [];
var d3 = [];
var d4 = [];

// Position data for all requested deployments
var positions = {{pos_data|safe}};

var graph_data = {{graph_data}};
var label, min, max;
var deps = {{deps_list}};
var graph_data_index;
var flot_dep = {{flot_dep}};

// graph_data_index specifies column in pos_data to display in Flot. 
if (graph_data!=2) { // likelihood (default)
graph_data_index = 6; 
}
else if (graph_data ==2) { // activity 
graph_data_index = 7;
}


// Should never NOT be null. Set even if GET request has no form data. 
//if ({{graph_dep}} != null) {
var d1=[];
for (var i=0; i < positions.length; i++) {    
  if (positions[i][1] == {{graph_dep}}) {
    d1.push([positions[i][2]*1000-7*60*60*1000, positions[i][graph_data_index]]);
    d2.push([positions[i][2]*1000-7*60*60*1000, //timestamp
            positions[i][graph_data_index], //activity or likelihood
            positions[i][0], // data ID
            positions[i][1]]); // deploymentID
  } 
}
//}


//  else if (deps.length > 0) {
//    var d1=[];
//    for (var i=0; i < positions.length; i++) {    
//      if (positions[i][1] == deps[0] ) {
//        d1.push([positions[i][2]*1000-7*60*60*1000, positions[i][graph_data_index]]);
//      } 
//    } 
//  }


var data =[ { data: d1, label: "{{graph_dep}}", lines: {show:true} } ]

var color = ["#8383FF", "yellow", "green", "#B00000"]

for (i=0; i < deps.length; i++) {
if ({{graph_dep}} == deps[i]) { var colorIndex = i; }
//else { var colorIndex = 0; }
}

var options = {
legend: { show: false },
series: { lines: { show: true }, points: { show: false } },
grid: { hoverable: true, clickable: true },
xaxis: { mode: "time", timeformat: "%m-%d %H:%M"},
highlightColor: 'red',
selection: { mode: "xy" },
colors: [ color[colorIndex] ]
};

var plot = $.plot("#placeholder2", data, options);

////  if (graph_data ==1) { label = "Likelihood"; min: 0; max: 1200; }
////  if (graph_data==2) { label = "Activity"; min: 0; max: 4.0; }
//
//  
//  data =[ { data: d1, label: "1st dep", lines: {show:true} },
//          { data: d2, label: "2nd dep", lines: {show:true} },
//          { data: d3, label: "3rd dep", lines: {show:true} } ]
//
//  var options = {
//    legend: { show: false },
//    series: { lines: { show: true }, points: { show: false } },
//    grid: { hoverable: true, clickable: true },
//    xaxis: { 
//      mode: "time", 
//      //tickSize: [4, "hour"], 
//      timeformat: "%m-%d %H:%M" 
//    },  //does this work?
//    //yaxis: {min: min, max: max},
//    highlightColor: 'red',
//    selection: { mode: "xy" },
//    colors: ["#8383FF", "yellow", "green"] //changes flot line color. 
//        // ??? use 'colors' for 1 series & 'color' for multiple series ???
//  };
//
//
//  var plot = $.plot("#placeholder2", data, options);
//var plot = $.plot("#placeholder2", [{ data: d, label: label}], options);


//var data = [{ data: d, label: "dep1", 
//              color: ["red"], 
//              highlightColor: 'yellow'
//          },

//          { data: d1, label: "dep2", 
//            color: ["blue"], 
//            highlightColor: 'green'
//          }];
//var options = [options0, options1];
//var plot = $.plot("#placeholder2", data, 
//    {xaxis: {mode: "time", timeformat: "%m-%d %H:%M"}});

var dataSeriesIndex = 0;

$('button').click(function(){
var idx = $(this).data('index');
plot.unhighlight()
plot.highlight(dataSeriesIndex, idx);
var dataPoint = d[idx]; 
//if (dataPoint != null) {
//var dataPosition = plot.pointOffset({x:dataPoint[0], y: dataPoint[1] })
//var tipHTML = 'Data:<br> X='+dataPoint[0] +'<br> Y=' +dataPoint[1];
// top: dataPosition.top-10}).show().html(tipHTML)
//}
})


//  $("#placeholder2").bind("plothover2", function (event, pos, item) {
//if ($("#enablePosition2:checked").length > 0) {
  //var str = "(" + pos.x.toFixed(2) + ", " + pos.y.toFixed(2) + ")";
  //$("#hoverdata2").text(str);
//}

//if ($("#enableTooltip2:checked").length > 0) {
  //if (item) {
  //  var x = item.datapoint[0].toFixed(2),
  //      y = item.datapoint[1].toFixed(2);
  //  $("#tooltip").html(x + ", " + y)
  //    .css({top: item.pageY+5, left: item.pageX+5})
  //    .fadeIn(200);
  //    } else {
  //      $("#tooltip").hide();
  //    }
//}

//  });

$("#placeholder2").bind("plotclick", function (event, pos, item) {
if (item == undefined) return false;
//uncomment to have this show up after enablePosition2 in the html (perhaps clickdata2?) 
//$("#clickdata2").text("Index " + item.dataIndex +', Date/Time:'+item.datapoint[0]+', '+item.series.label + ': ' + item.datapoint[1]);

//save clicked info in global variables
flot_clicked_series = item.series;
flot_clicked_datapoint = item.datapoint;

plot.unhighlight(); //unhighlights previous points
plot.highlight(item.series, item.datapoint);
clickedDateTime = item.dataIndex;

document.getElementById('flot_index').value = item.dataIndex;
document.getElementById('flot_dep').value = d2[item.dataIndex][3];
document.getElementById("form").submit();
});


// //create the overview plot
//   var overview = $.plot("#overview", [{ data: d, label: label}], {
//     legend: { show: false },
//     series: { lines: { show: true, lineWidth: 1 }, shadowSize: 0 },
//     xaxis: { mode: "time" }, 
//     //yaxis: { ticks: 3, min: -2, max: 2 },
//     grid: { color: "#999" },
//     selection: { mode: "xy" },
//     colors: ["#8383FF"] 
//   });
// 
// 
// 
//  //connect the 2 plots
//   $("#placeholder2").bind("plotselected", function (event, ranges) {
//     // clamp the zooming to prevent eternal zoom
//       if (ranges.xaxis.to - ranges.xaxis.from < 0.00001) {
//           ranges.xaxis.to = ranges.xaxis.from + 0.00001;
//       }
//       if (ranges.yaxis.to - ranges.yaxis.from < 0.00001) {
//           ranges.yaxis.to = ranges.yaxis.from + 0.00001;
//       }
//    // do the zooming
// 
// 
// 
//   plot = $.plot("#placeholder2", getData(ranges.xaxis.from, ranges.xaxis.to),
//         $.extend(true, {}, options, {
//         xaxis: { min: ranges.xaxis.from, max: ranges.xaxis.to },
//         yaxis: { min: ranges.yaxis.from, max: ranges.yaxis.to }
//         })
//       );
// 
//   // don't fire event on the overview to prevent eternal loop
//   overview.setSelection(ranges, true);
//   });
// 
//   $("#overview").bind("plotselected", function (event, ranges) {
//     plot.setSelection(ranges);
//   });
// 


//when user clicks point on flot, flot will reload...
//the following shows the point that the user just clicked, by pushing the flot index button
//must place it at the end, otherwise it will execute before flot draws the chart,
//(I'm assuming that's the reason), and then the point won't get highlighted

//this doesn't work

//  var flot_index = {{flot_index}};
//    if (flot_index != null) {
//      document.getElementById('flotIndexSubmit').click();
//  }

}); //end the function for flot



//this doesn't work
//clickedDateTime = item.dataSeriesIndex;

//set global variable for passing the timestamp to django to google maps:
//clickedDateTime = 6;


} //endif positions
</script>

{% endblock %}

{% block sidebar %}
<form id="form" action ="" name="settings" method="get">
<!-- <input type="submit" value="SUBMIT PREFERENCES" /> -->
<font size="2">
{% for field in form %}

{% if field.auto_id = "id_deployment"  or field.auto_id = "id_likelihood_low" or field.auto_id = "id_activity_low" %}
<b>{{field.label_tag}}</b> {{field}}

{% elif field.auto_id = "id_sites" %}
<b>{{field.label_tag}}</b> {{field}}<br><br>
<b><u>FILTER DATA BY:</u></b>
<br><font size="1">Date/Time Format: YYYY-MM-DD HH:MM:SS (24hr)</font><br>

{% elif field.auto_id = "id_activity_high" %}
<b>{{field.label_tag}}</b> {{field}}<br><br>


<b><u>GRAPH:</u></b><br>

{% else %}
<b>{{field.label_tag}}</b> {{field}}<br>
{% endif %}
{% endfor %}
</font>

<input type="hidden" name="lat_clicked" id="lat_clicked">
<input type="hidden" name="lng_clicked" id="lng_clicked">
<input type="hidden" name="flot_index" id="flot_index">
<input type="hidden" name="flot_dep" id="flot_dep">
</form>

<div id = "text" style="background-color: #E8E8E8; padding-right: 10px; margin-right: -10px;">
<!-- <button onclick="showDjango()">Show Django</button> -->

<center>
<div id="page_title"><a href='/ui/'>QRAAT DATA</a></div>
<!--onclick='initialize(38.487828027, -122.149419006, 14);'-->
<!-- <a href="index.html" target="export">Export view as .kml</a><br>-->
</center>
<br />
<!-- <button onclick="setCenter()">Re-center Map</button> -->

<div class="section_title">PREFERENCES
<button onclick="submitForm()">Submit Form</button></div>
<div id ="prefs">


<!-- <button onclick="fitBounds()">Fit all positions in map window</button>-->

<!-- <font size="1">date range: 2013-08-13  13:57:16 to 2014-06-16 14:28:12</font> -->
</div><!-- end prefs -->

<br>

{% endblock %}

<script type="text/javascript">
//for submitting form automatically when fields have been entered

//function submitIfComplete()
//{
//  // Check the select has something selected
//  if (
//      document.getElementById('tx_ID').selectedIndex > 0 &&
//      document.getElementById('data_type').selectedIndex > 0
//      //!(document.getElementById('pref1').checked == false)
//    {
//    document.getElementById('formID').submit();
//    }
//}
</script>





{% block content %}

<div class="section_title">MAP INFO</div>
<div id="mouseover">
<font size="2">
<!-- View Type: {{view_type}} <br>-->
{% if positions %}
<b>No. of points displayed for dep(s) {{deps_limit4}}</b>: {{positions|length}}
{% if deps|length > 0 %} <br><b>Line Colors: Blue</b>: {{deps.0}}{% endif %}
{% if deps|length > 1 %} | <b>Yellow:</b> {{deps.1}}{% endif %}
{% if deps|length > 2 %} | <b>Green:</b> {{deps.2}}{% endif %}
{% if deps|length > 3 %} | <b>Red:</b> {{deps.3}}{% endif %}
<br>{% endif %}

<b>Mouseover Lat, Lon: </b> <input type="text" class="current_info" id="latlong" style="width:150px; border:1px inset black;"></span>
<!--<br><b>Clicked Lat, Lon: </b>--><input type="hidden" class="current_info" id="clicked_lat_lng" style="width:150px; border:1px inset black;"></span>
<br><b>Map Bounds: <font size="1"></b><span id="bounds"></span></font>
<br><b>Map Center: </b><span id="current_center"></span>
<br><b>Map Zoom: </b><span id="current_zoom"></span>
<!--<br><b>Clicked Lat, Long: </b> <input type="text" id="latlongclicked" style="width:300px; border:1px inset black;"></span> -->
<br></font>
</div>
<br>




<div class="section_title">DATA FOR MOUSED-OVER POSITION</div>

<div id="clicked">
<font size="2">
{% if selected_message%}
 {% if flot_index == None %}
<br><center><i>{{selected_message}}</i></center>
  {% endif %}
{% endif %}

<b>Deployment ID: </b><span id="selected_point_deployment"></span>
<br><b>Data Point ID: </b><span id="selected_point_positionID"></span>
<br>
<br><b>Lat, Lon: </b><span id="selected_point_latlon"></span>
<br><b>Easting, Northing, Zone: </b><span id="selected_point_eastingnorthing"></span>
<br>
<br><b>Date & Time: </b><span id="selected_point_date"></span>
<br><b>Position Likelihood: </b><span id="selected_point_likelihood"></span>
<br><b>Animal Activity: </b><span id="selected_point_activity"></span>

</font>
</div> <!-- end clicked -->
</div> <!-- end text -->


<!-- right side -->
<div id="map-canvas"></div>

{% if positions %}
<!-- FLOT CHART -->
<div id="right_side">
  <div id="content">
  <center>
  {% ifequal graph_data "1" %}
  <b><u>LIKELIHOOD vs. TIME</u></b>
  <br>Deployment Shown = 
  {% if graph_dep_django%}
  {{graph_dep_django}}
  {% else %}
  {{deps.0}}
  {% endif %}
  {% endifequal %}

  {% ifequal graph_data "2" %}
  <b><u>ACTIVITY vs. TIME</u></b>
  <br>Deployment Shown =  {{graph_dep}}
  {% endifequal %}

<!-- <button data-index="4">Highlight 5th point</button> -->
<button data-index="{{map_dep_index}}" id="mapsIndexSubmit" style="display: none;">Selected Index</button>
<button data-index="{{flot_index}}" id="flotIndexSubmit" style="display: none;">Flot Index</button> 
<!-- Google Maps clicked Index: {{selected_index_large}}
    Flot graph Clicked Index: {{flot_index}} -->

<!--Uncomment next line to display index, time, and data from clicking the flot chart -->
<!-- <span id ="enablePosition2">Clicked: </span> -->
  <!-- <p><label><input id="enablePosition2" type="checkbox" checked="checked"></input>Clicked: </label>  -->
  <span id="hoverdata2"></span>
  <span id="clickdata2"></span>
  <!-- <p><label><input id="enableTooltip2" type="checkbox" checked="checked"></input>Enable tooltip</label></p>  -->
<br>
<div id="right_side2">
<!-- 2ND FLOT CHARTS -->

<div id="content2">
  <!-- sets the width of the total container of both the main graph and the small overview graph -->
  <div class="demo-container2" style="width:550px; height: 200px;">
  <!-- sets the width of the main/large graph -->
  <div id="placeholder2" class="demo-placeholder" style="float:left; width:550px; height: 200px;"></div>

<!-- uncomment next line for small overview graph -->
<!--   <div id="overview" class="demo-placeholder" style="float: right; width: 100px; height: 125px;"></div> -->
 
  </div>
</div> <!-- end div right_side2 -->

{% endif %} <!-- end if positions (if there is query data) -->
{% endblock %}
