{% extends "base.html" %}
{% load project_filters %}

{% block content %}
    <div class="page-header">
        <h3>Are you sure?</h3>
        <h4><small>You are up to delete all selected {{objs.0.verbose_name}} objects and their related objects</small></h4>
    </div>
<div class="row">
    <form action={% url 'project:delete-objs' project.ID  %} method="post">
   {% csrf_token %}
    <ol>
        <input type="hidden" name="object" value={{objs.0.verbose_name|lower}}></input>
    {% for obj in objs %}
        <ol class="obj-list">
            <input type="hidden" name="selected" value={{obj.ID}} ></input>
        <span>
        {% with verbose_name=obj.verbose_name %}
            {{verbose_name}}:
            <a href={% url 'project:show-'|add:verbose_name|lower project.ID obj.ID %}>
                {{obj}}
            </a>
        {% endwith %}
        </span>
            {% for related_obj in obj.get_objs_related  %}
                
            <li class="obj-element">
                <span>{{related_obj.verbose_name}}: {{related_obj}}</span>
            </li>
            {% endfor %}
        </ol>
    {% endfor %}
    </ol>
        <div style="margin-left:40%;" class="btn-group">
            <button class="btn btn-default" type="submit" name="submit" value="cancel" />
                Cancel
            </button>
            <button class="btn btn-danger" type="submit" name="submit" value="delete" />
                Yes. Delete
            </button>
        </div>
    </form>
</div>
{% endblock %}
