{% extends "project/edit_project_base.html" %}

{% load class_tag %}

{% block content %}
{% if istherenew_make %}
 <div class="alert alert-success">Manufacturer Added</div>
{% endif %}

<div class="page-header">
    <h3>New transmitter
    <div class="btn-group" style="margin-left:15%">
        <a href="../add-manufacturer">
            <input type="button" class="btn btn-primary" value="Add manufacturer" name="add-manufacturer" />
        </a>
    </div>
    </h3>
</div>

<div class="form-container"> 
    <h2>
        <small>New model</small>
    </h2>
  <form  method="post">
    {% csrf_token %}
	<!-- Display form errors -->
	{% if manufacturer_form.non_field_errors %}
		<div class="alert alert-danger">
			{{ manufacturer_form.non_field_errors }}
		</div>
	{% endif %}
	<!-- Loop over form fields -->
	<div class="input-group-container">
	{% for field in manufacturer_form %}
			{% if field.errors %}
				{% for error in field.errors %}
					<div class="input-error">
						* {{ error|escape}}
					</div>
				{% endfor %}
			{% endif %}
		<!-- Display form fields -->
			<div class="input-group input-lg">
                {% if field.field.widget|get_class == "CheckboxInput" %}
                <input class="form-control" value="{{field.label}}" disabled></input>
                    <span class="input-group-addon">
                        {{field}}
                    </span>
                {% else %}
                <span class="input-group-addon">
                    {{ field.label_tag}}
                </span>
				{{ field }}
                {% endif %}
			</div>
	{% endfor %}
	<div class="input-group submit-btn">
		<div class="btn-group-vertical">
			<button class="btn btn-primary btn-lg" type="submit" value="create-project">Add manufacturer</button>
		</div>
	</div>
	</div>
 </form>
</div>


<div class="form-container"> 
  <h2> <small> Transmitter </small> </h2>
  <form action="../add-transmitter/"  method="post">
    {% csrf_token %}
	<!-- Display form errors -->
	{% if transmitter_form.non_field_errors %}
		<div class="alert alert-danger">
			{{ transmitter_form.non_field_errors }}
		</div>
	{% endif %}
	<!-- Loop over form fields -->
	<div class="input-group-container">
	{% for field in transmitter_form %}
			{% if field.errors %}
				{% for error in field.errors %}
					<div class="input-error">
						* {{ error|escape}}
					</div>
				{% endfor %}
			{% endif %}
		<!-- Display form fields -->
			<div class="input-group input-lg">
                {% if field.field.widget|get_class == "CheckboxInput" %}
                <input class="form-control" value="{{field.label}}" disabled></input>
                    <span class="input-group-addon">
                        {{field}}
                    </span>
                {% else %}
                <span class="input-group-addon">
                    {{ field.label_tag}}
                </span>
				{{ field }}
                {% endif %}
			</div>
	{% endfor %}
	<div class="input-group submit-btn">
		<div class="btn-group-vertical">
			<button class="btn btn-primary btn-lg" type="submit" value="create-project">Add transmitter</button>
		</div>
	</div>
	</div>
 </form>
</div>
{% endblock %}
