{% extends "project/base.html" %}
{% load project_filters %}

{% block content %}

<script>
    var proj_objs = ["locations", "transmitters",
        "deployments", "targets"];
    
    $(document).ready(function(){
            //Initialize tooltip for proj_objs
            for(var i = 0; i<proj_objs.length; i++){
                $("#manage-" + proj_objs[i] ).tooltip(); 
            }

            $(".dropdown-list-title").click(
                function(){
                    $(this).parent().children("a").toggleClass(" dropup")
                    $(this).parents().children(".dropdown-list-table").slideToggle("fast");
                }    
            );
    });

</script>


{% if project %}
<div class="jumbotron">
    <h3>{{project.name}}
        </br>
        <small>{{project.description}}</small>
        </br>
        </br>
        <a href="edit-project">
            <input type="button" class="btn btn-primary btn-lg" value="Edit Project" name="" />
        </a>
    </h3>
</div>

<div class="dropdown-list">
  <div id="locations" class="dropdown-list-heading">
        <h4>
            <a href="#locations" class="dropdown-list-title">
                Locations
            <span id="dropdown-list-toggle" class="caret"></span>
            </a>
            {% if project|is_owner:user or project|is_collaborator:user %}
            <a id="manage-locations" title="Manage locations"\
                href={% url 'project:manage-locations' project.ID %} class="manage-button">
                <button type="button" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <!-- Manage -->
                </button>
            </a>
            {% endif %}
        </h4>
    </a>
  </div>
    <div class="dropdown-list-table" style="display: none;">
    <div class="table-body">
        <div class="table-element table-row">
            <span class="table-element table-cell">Name</span>
            <span class="table-element table-cell">Location</span>
            <span class="table-element table-cell">Latitude</span>
            <span class="table-element table-cell">Longitude</span>
            <span class="table-element table-cell">Easting</span>
            <span class="table-element table-cell">Northing</span>
            <span class="table-element table-cell">UTM Zone Number</span>
            <span class="table-element table-cell">UTM Zone Letter</span>
            <span class="table-element table-cell">Elevation</span>
        </div>
        {% for location in project.get_locations %}
        <a href="location/{{location.ID}}" class="table-element table-row">
            <span class="table-element table-cell">{{location.name}}</span>
            <span class="table-element table-cell">{{location.location}}</span>
            <span class="table-element table-cell">{{location.latitude}}</span>
            <span class="table-element table-cell">{{location.longitude}}</span>
            <span class="table-element table-cell">{{location.easting}}</span>
            <span class="table-element table-cell">{{location.northing}}</span>
            <span class="table-element table-cell">{{location.utm_zone_number}}</span>
            <span class="table-element table-cell">{{location.utm_zone_letter}}</span>
            <span class="table-element table-cell">{{location.elevation}}</span>
        </a>
        {% endfor %}
    </div>
    </div>
</div>

<div class="dropdown-list">
  <div id="deployments" class="dropdown-list-heading">
        <h4>
            <a href="#deployments" class="dropdown-list-title">
               Deployments 
            <span id="dropdown-list-toggle" class="caret"></span>
            </a>
            {% if project|is_owner:user or project|is_collaborator:user %}
            <a id="manage-deployments" title="Manage deployments"\
                href={% url 'project:manage-deployments' project.ID %} class="manage-button">
                <button type="button" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <!-- Manage -->
                </button>
            </a>
            {% endif %}
        </h4>
    </a>
  </div>
    <div class="dropdown-list-table" style="display: none;">
        <div class="table-body"> 
            <div class="table-element table-row">
                <span class="table-element table-cell">Name</span>
                <span class="table-element table-cell">Description</span>
                <span class="table-element table-cell">Time start</span>
                <span class="table-element table-cell">Time end</span>
                <span class="table-element table-cell">Transmitter</span>
                <span class="table-element table-cell">Target</span>
                <span class="table-element table-cell">Active</span>
            </div>
            {% for deployment in project.get_deployments %}
            <a href={% url 'ui:view_by_dep' project.ID deployment.ID %} class="table-element table-row">
                <span class="table-element table-cell">{{deployment.name}}</span>
                <span class="table-element table-cell">{{deployment.description}}</span>
                <span class="table-element table-cell">{{deployment.get_start}}</span>
                <span class="table-element table-cell">{{deployment.get_end}}</span>
                <span class="table-element table-cell">{{deployment.txID}}</span>
                <span class="table-element table-cell">{{deployment.targetID}}</span>
                <span class="table-element table-cell">{% if deployment.is_active %}
                     <span style="color:green;" class="glyphicon glyphicon-ok-sign"></span>
                    {% else %}
                    <span style="color:red;" class="glyphicon glyphicon-remove-sign"></span>
                    {%endif%}
                </span>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

<div class="dropdown-list">
  <div id="transmitters"  class="dropdown-list-heading">
        <h4>
            <a href="#transmitters" class="dropdown-list-title">
                Transmitters
            <span id="dropdown-list-toggle" class="caret"></span>
            </a>
            {% if project|is_owner:user or project|is_collaborator:user %}
            <a id="manage-transmitters" title="Manage transmitters"\
                href={% url 'project:manage-transmitters' project.ID %} class="manage-button">
                <button type="button" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <!-- Manage -->
                </button>
            </a>
            {% endif %}
        </h4>
    </a>
  </div>
    <div class="dropdown-list-table" style="display: none;">
        <div class="table-body">
            <div class="table-element table-row">
                <span class="table-element table-cell">Name</span>
                <span class="table-element table-cell">Serial number</span>
                <span class="table-element table-cell">Model</span>
                <span class="table-element table-cell">Manufacturer</span>
                <span class="table-element table-cell">Frequency</span>
            </div>
            {% for transmitter in project.get_transmitters %}
                <a class="table-element table-row" href="transmitter/{{transmitter.ID}}">
                    <span class="table-element table-cell">{{transmitter.name}}</span>
                    <span class="table-element table-cell">{{transmitter.serial_no}}</span>
                    <span class="table-element table-cell">{{transmitter.tx_makeID.model}}</span>
                    <span class="table-element table-cell">{{transmitter.tx_makeID.manufacturer}}</span>
                    <span class="table-element table-cell">{{transmitter.frequency}}</span>
                </a>
            {% endfor %}
        </div>
    </div>
</div>

<div class="dropdown-list">
  <div id="targets" class="dropdown-list-heading">
        <h4>
            <a href="#targets" class="dropdown-list-title">
               Targets 
            <span id="dropdown-list-toggle" class="caret"></span>
            </a>
            {% if project|is_owner:user or project|is_collaborator:user %}
            <a id="manage-targets" title="Manage targets"\
                href={% url 'project:manage-targets' project.ID %} class="manage-button">
                <button  type="button" class="btn btn-danger btn-xs">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <!-- Manage -->
                </button>
            </a>
            {% endif %}
        </h4>
    </a>
  </div>
    <div class="dropdown-list-table" style="display: none;">
        <div class="table-body">
            <div class="table-element table-row">
                <span class="table-element table-cell">Name</span>
                <span class="table-element table-cell">Description</span>
            </div>
            {% for target in project.get_targets %}
            <a href={% url 'project:show-target' project.ID target.ID %} class="table-element table-row">
                <span class="table-element table-cell">{{target.name}}</span>
                <span class="table-element table-cell">{{target.description}}</span>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{%endif%}
{% endblock %}
