{% extends "project/base_create_object.html" %}
{% load class_tag %}

{% block css %}

<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/SelectBox.js"></script>
<script type="text/javascript" src="/static/admin/js/SelectFilter2.js"></script>
<link href="/static/admin/css/widgets.css" rel="stylesheet">

{% endblock %}

{% block title_msg %} Project editing {% endblock %}
{% block success_msg %} Project was successfully changed {% endblock %}
