<!-- File: qraat_ui/templates/index.html -->

<!DOCTYPE html>
<html>


<head>

  <title>QRAAT APP</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

  
  <style type="text/css">
    
    button { 
      font: normal 12px "omnes-pro", Helvetica, Arial, sans-serif; 
      }
    
    html { height: 100% }
    
    body { 
      height: 100%; margin: 0; padding: 0; 
      font: normal 12px "omnes-pro", Helvetica, Arial, sans-serif; 
      }
    
    #map-canvas { 
      margin-top: 1cm; margin-right: 0.25cm; 
      height: 60%; width: 63%; float: right; 
      }
    
    #text {
      width: 33%; height: 100%; float: left; 
      font-size: 12px; margin: 1%;
      }
    
    #page_title { font-size: 18px; font-weight:bold; }
    
    #prefs {
      border-style:solid; border-width: 1px; 
      height: 38%; overflow: scroll; padding: 5px; 
      }
    
    #mouseover {
      border-style:solid; border-width: 1px; height: 25%; 
      overflow: scroll; padding: 5px;
      }
    
    #clicked {
      border-style:solid; border-width: 1px; height: 20%; 
      overflow: scroll; padding: 5px;
      }
    
    #right_side { float: center; }
    
    .current_info {
      font: normal 12px "omnes-pro", Helvetica, Arial, sans-serif;
      }
    
    #right_side2, #content2, .demo-placeholder2, .demo-placeholder { 
      float: right;
      }


</style>


<!-- Link google maps API with alisha's gmail key -->
<script type="text/javascript" 
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPB3_yj11lEK6uSAthSd0Btv-E1FJqt3I&sensor=false">
</script>


<script type="text/javascript">

  // Global variables
  var highlightedPoly;
  var selectedMarker;
  var map;
  var mapCenter;
  var markers = [];



  // Show alert, called by html button. for testing purposes
function showDjango() {
    var selected_flot = document.getElementById("flot_index").value;
      window.alert(selected_flot);
}



function initialize(){
    
    // Hard code the initial center latitude and longitude of the map 
    self.lat = 38.487828027;
    self.lng = -122.149419006;
    var myLatLng = new google.maps.LatLng(self.lat, self.lng);


// The following section saves the center and zoom for map reloads
  // otherwise, map would reset back to intial default center
  var reload_zoom;
  var mapOptions;

  // If: Map has been loaded before and bounds have changed
  // (this is when previous center and zoom are saved)...
  // Then: Set options to the the previous/saved center and zoom.
  if ((localStorage.mapLat != null) &&
      (localStorage.mapLng !=null) &&
      (localStorage.mapZoom !=null)) 
    {
      mapOptions = {
        center: new google.maps.LatLng(
          localStorage.mapLat, 
          localStorage.mapLng),
        zoom: parseInt(localStorage.mapZoom),
        mapTypeId: google.maps.MapTypeId.SATELLITE,
        
        panControl:true,
        zoomControl:true,
        mapTypeControl:true,
        scaleControl:true,
        streetViewControl:true,
        overviewMapControl:true,
        rotateControl:true
      }; // end map options
    } // end if map has been loaded before 


  // If: The map hasn't loaded before (nothing saved for center or zoom)...
  // Then: Set some default map options.
  else 
          // this doesn't work
              // if (((center_lat!=null) && 
              // (center_lng !=null) && 
              // (init_zoom !=null)) ||
              // ((localStorage.mapLat == null) && 
              // (localStorage.mapLng == null) &&
              // (localStorage.mapZoom == null)))
    {
      var mapOptions = {
        center: myLatLng,
        zoom: 14, // Scale of 1 to 20
        mapTypeId: google.maps.MapTypeId.SATELLITE,
   
        panControl:true,
        zoomControl:true,
        mapTypeControl:true,
        scaleControl:true,
        streetViewControl:true,
        overviewMapControl:true,
        rotateControl:true
    }; // end map options
   } // end if map hasn't been loaded before



// Creates the map object, using the mapOptions set above
  var map = new google.maps.Map(document.getElementById("map-canvas"),
      mapOptions);



// Listen and store center & zoom changes, to be used in map options

      // I think the following 4 lines are redundant:
      // mapCenter = map.getCenter();
      // localStorage.mapLat = mapCenter.lat();
      // localStorage.mapLng = mapCenter.lng();
      // localStorage.mapZoom = map.getZoom();

    google.maps.event.addListener(map, "center_changed", function(){
      mapCenter = map.getCenter();
      localStorage.mapLat = mapCenter.lat();
      localStorage.mapLng = mapCenter.lng();
      localStorage.mapZoom = map.getZoom();
    });

    google.maps.event.addListener(map, "zoom_changed", function (){
      mapCenter = map.getCenter();
      localStorage.mapLat = mapCenter.lat();
      localStorage.mapLng = mapCenter.lng();
      localStorage.mapZoom = map.getZoom();
    });


// SHOW CLICKED DATA POINT INFO
  var django_position = {{pos_data|safe}}; // list of all queried data
  var selected_data = {{selected_data|safe}}; // data for clicked point
  // Note: |safe enables strings to be passed from django/json to js


  // If a point was clicked and therefore there is related data 
  // (this is a messy check)... Then populate the data. 
  // Date for fields in the db that are longer than 6 decimal places
  // are fixed to 6 decimal places. 
  
  if (selected_data.length > 0) {
    
    if (selected_data[0][0] != null) {
      document.getElementById('clicked_lat_lng').value = 
        selected_data[0][0].toFixed(6)+', ' + // lat clicked on map
        selected_data[0][1].toFixed(6);      // lng clicked on map
      }
    
    document.getElementById('m_lat_lon').innerHTML = 
      selected_data[0][10][0].toFixed(6) + ', ' + // lat of actual pt in db
      selected_data[0][10][1].toFixed(6);          // lng of point in db
    document.getElementById('m_east_north').innerHTML = 
      selected_data[0][5] + ', ' +   // easting 
      selected_data[0][6] + ', ' +   // northing
      selected_data[0][7] + ' ' +    // zone number
      selected_data[0][12];          // zone letter
    document.getElementById('m_date').innerHTML = 
      selected_data[0][11];          // date string of timestamp
    document.getElementById('m_activity').innerHTML = 
      selected_data[0][9].toFixed(6);  // activity
    document.getElementById('m_likelihood').innerHTML = 
      selected_data[0][8].toFixed(6); // likelihood
    document.getElementById('m_ID').innerHTML = 
      selected_data[0][2];
    document.getElementById('m_transmitter').innerHTML = 
      selected_data[0][3];
  
  } // end if selected_data.length > 5



  // Map listens for clicks on the map
  // Submits clicked lat,lng to django (server to calculate closest point)

  google.maps.event.addListener(map, 'click', function(event){
    // if statement may be redundant
    if ((event.latLng.lat() !==null) && (event.latLng.lng() !==null)) {
      // populates hidden html field in form
      document.getElementById('lat_clicked').value = event.latLng.lat()
      document.getElementById('lng_clicked').value = event.latLng.lng()
    
      // auto-submits the form
      document.getElementById("form").submit();
    } // end if
  }); // end click addListener



  // Index of selected point, in array of points near the click
  
  var selected_index;
  
  if (typeof {{selected_index}} == 'undefined') {
    selected_index = null;
  }
  else {
    selected_index = {{selected_index}};
  }


  // When google maps loads/refreshes, click 'button' to highlight 
  // point on flot graph again. Otherwise, it would disappear after reload
  
  google.maps.event.addListener(map, 'tilesloaded', function() {
    if (selected_index !=null) {
      document.getElementById('selectedIndexSubmit').click();
    } // end if selected_index
  }); // end tilesloaded Listener



  // Mousemove Listener to display lat, lng of mouse location
  
  google.maps.event.addListener(map,'mousemove',function(event){
    // Note:  Use '.value' for <input> --> data appears in a box
    //        Use '.innerHTML' for <span>
    document.getElementById('latlong').value = 
      event.latLng.lat().toFixed(6) + ', ' + 
      event.latLng.lng().toFixed(6);
  }); //end onemousemove event listener



  // Idle Listener. Displays bounds, center, and zoom
  
  google.maps.event.addListener(map, 'idle', function(){    
    
    // bounds
    document.getElementById('bounds').innerHTML = 
      'NE: '+this.getBounds().getNorthEast().lat().toFixed(6)+ ', ' +
            this.getBounds().getNorthEast().lng().toFixed(6)+
      ' | SW: '+this.getBounds().getSouthWest().lat().toFixed(6)+', '+
            this.getBounds().getSouthWest().lng().toFixed(6);
      
    // center
    document.getElementById('current_center').innerHTML = 
      this.getCenter().lat().toFixed(6)+', ' + 
      this.getCenter().lng().toFixed(6);
      
    // zoom
    document.getElementById('current_zoom').innerHTML = 
      this.getZoom();
  
  }); // end idle Listener



// If site markers are chosen to be shown...
  // Then populate locations array with site data. Later used for markers
  var site_checked = {{site_checked}};
  var site_list = {{siteslist|safe}};
  var locations = [];


  // Show site markers if site is checked in preferences
  if (site_checked ==1) {
    for (var i = 0; i < site_list.length; i++) {
      locations.push([
        site_list[i][0],  // locations[i][0]: site ID
        site_list[i][1],  // [1]: site name
        site_list[i][2],  // [2]: site lat
        site_list[i][3],  // [3]: site lng
        site_list[i][8]  // [4]: site elevation
        ]);
    //index, lat, lng, name. looks like index and name aren't being used?
    } // end if site checked
  } // end looping through list of sites


  else {  // if sites are not checked, just push an empty list
    locations.push([]);
  }

      // Note: This is what the locations array looks like.
        //    var locations = [
        //      ['Site 1', 38.483052371711864, -122.14958038408795, 1],
        //      ['Center for pos estimation', 38.48973432391515, 
        //        -122.1457497450115, 10]
        //      ];




// SET MARKERS: 
  var marker, i;
  var markers_sites = new Array();
  var infoWindows_sites = new Array();

  // Display markers for site locations
  for (i = 0; i < locations.length; i++) {
    
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i][2], locations[i][3]),
      map: map,
      icon: 'http://maps.google.com/mapfiles/ms/micons/blue-dot.png',
      infoWindowIndex: i
    });   // end the setting of marker data to be pushed to array
    
    // Set infoWindow content
    var content = 'Site ID: ' + locations[i][0] + '<br>' +
                  'Name: ' + locations[i][1] + '<br>' +
                  'Lat, Lon: ' + locations[i][2].toFixed(5) + ', ' + 
                                  locations[i][3].toFixed(5) + '<br>' +
                  'Elevation: ' + locations[i][4];
    var infoWindow = new google.maps.InfoWindow({content: content});
    
    // click Listener for markers
    var clickedInfoWindowIndex;
    google.maps.event.addListener(marker, 'click', 
      function (event)
        {
          // Note: The following pans to point:
          // map.panTo(event.latLng);
          
          // If a site infoWindow is already open, close it.
          if (clickedInfoWindowIndex != null) {
            infoWindows_sites[clickedInfoWindowIndex].close();
          }
          
          // Open infoWindow for clicked site location
          infoWindows_sites[this.infoWindowIndex].open(map, this);
          clickedInfoWindowIndex = this.infoWindowIndex;
        } // end event function
    ); // end click Listener

    // push to the marker and infoWindow arrays for the site locations
    markers_sites.push(marker);
    infoWindows_sites.push(infoWindow);
  
  } //end for loop for site locations











// Display markers for the data points 
  var markers_querydata = new Array();
  var infoWindows_querydata = new Array();    
  var flight_latlon_pos = {{pos_data|safe}};
  var display_type = {{display_type}};

  // Display marker points if html pref is set to display them
  if ((display_type != null)&& (display_type==2)) {
    
    for (i=0; i < flight_latlon_pos.length-1; i++) {
    
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(
          flight_latlon_pos[i][8][0], flight_latlon_pos[i][8][1]),
        map: map,
        icon: 'http://www.geocodezip.com/mapIcons/small_blue_dot.png',
        infoWindowIndex: i
      });
      
      var content = 'dep: ' + flight_latlon_pos[0][1] + '<br>' + 
                    flight_latlon_pos[i][8][0].toFixed(5)
                    + ', ' + flight_latlon_pos[i][8][1].toFixed(5);
        
      var infoWindow = new google.maps.InfoWindow({ content: content });
      

    // submit clicked marker lat,lng to django server to find nearby pts
    google.maps.event.addListener(marker, 'click',
      function(event)
      { //submit the location of the click to django
        if ((event.latLng.lat() !==null) && (event.latLng.lng() !==null)) {
          // populates hidden html fields
          document.getElementById('lat_clicked').value = event.latLng.lat()
          document.getElementById('lng_clicked').value = event.latLng.lng()
          
          // submits html form
          document.getElementById("form").submit();
          } // end if statement for if the lat and lng are null
      }); // end event function and marker event listener
      
    
    // on mousing over markers for data points, open them to show lat/lng
    google.maps.event.addListener(marker, 'mouseover', function() {
      infoWindows_querydata[this.infoWindowIndex].open(map, this); 
    });
      
    // close infowindows on mousing out of marker
    google.maps.event.addListener(marker, 'mouseout', function() {
      infoWindows_querydata[this.infoWindowIndex].close();
    });

        infoWindows_querydata.push(infoWindow);
        markers_querydata.push(marker);
      
    } //end for loop for query data
  } //end if statement for displaying query data as points (not lines)











  //DISPLAY MARKERS (DATA POINTS) FOR 2ND DEPLOYMENT
  var markers_querydata1 = new Array();
  var infoWindows_querydata1 = new Array();    
  var flight_latlon_pos1 = {{pos_data1|safe}};
  var display_type = {{display_type}};

  // Display marker points if html pref is set to display them
  if ((display_type != null)&& (display_type==2)) {
    
    for (i=0; i < flight_latlon_pos1.length-1; i++) {
    
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(
          flight_latlon_pos1[i][8][0], flight_latlon_pos1[i][8][1]),
        map: map,
        icon: 'http://www.geocodezip.com/mapIcons/small_yellow_dot.png',
        infoWindowIndex: i
      });
      
      var content = 'dep: ' + flight_latlon_pos1[0][1] +  '<br>' +
                    flight_latlon_pos1[i][8][0].toFixed(5)
                    + ', ' + flight_latlon_pos1[i][8][1].toFixed(5);
        
      var infoWindow = new google.maps.InfoWindow({ content: content });
      

//This is commented because clicking would give the related data from the first deployment, since only the index of the array is passed around, not both the index of the array and which array it is.

//    // submit clicked marker lat,lng to django server to find nearby pts
//    google.maps.event.addListener(marker, 'click',
//      function(event)
//      { //submit the location of the click to django
//        if ((event.latLng.lat() !==null) && (event.latLng.lng() !==null)) {
//          // populates hidden html fields
//          document.getElementById('lat_clicked').value = event.latLng.lat()
//          document.getElementById('lng_clicked').value = event.latLng.lng()
          
//          // submits html form
//          document.getElementById("form").submit();
//          } // end if statement for if the lat and lng are null
//      }); // end event function and marker event listener
      
    
    // on mousing over markers for data points, open them to show lat/lng
    google.maps.event.addListener(marker, 'mouseover', function() {
      infoWindows_querydata1[this.infoWindowIndex].open(map, this); 
    });
      
    // close infowindows on mousing out of marker
    google.maps.event.addListener(marker, 'mouseout', function() {
      infoWindows_querydata1[this.infoWindowIndex].close();
    });

        infoWindows_querydata1.push(infoWindow);
        markers_querydata1.push(marker);
      
    } //end for loop for query data
  } //end if statement for displaying query data as points (not lines)













// DISPLAY MARKER / "HIGHLIGHT" SELECTED POINT (clicked in maps or in flot)


// WHEN MAP IS CLICKED, display another marker there to highlight point
  // If valid point (corresponds to db pt) is selected on maps, display it  
  
  if (selected_data.length > 0) {

    marker = new google.maps.Marker({
      position: new google.maps.LatLng
        (
        selected_data[0][10][0], 
        selected_data[0][10][1]
        ),
      map: map,
      // Note: When no icon, uses default large/red marker
      // icon: 'http://maps.google.com/mapfiles/ms/micons/red-dot.png'
    }); // end setting marker data
  
  } // end if selected_data



// WHEN FLOT POINT IS CLICKED, add a highlight marker to the point

  var flot_index ={{flot_index}}; // index of data in large queried array

  if (flot_index != null) {
    var flight_latlon_pos = {{pos_data|safe}};
    
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(
        flight_latlon_pos[flot_index][8][0], 
        flight_latlon_pos[flot_index][8][1]),
      map: map,
      //no icon set, so default red large marker
      //icon: 'http://maps.google.com/mapfiles/ms/micons/red-dot.png'
    });
    
    //var bounds = new google.maps.LatLngBounds();
    //bounds.extend(marker.position);
    //map.fitBounds(bounds);
    
    map.panTo(marker.position);
     
  } // end if point was selected in flot (index)



  // push the selected_data marker
  markers.push(marker);



  // Attempt to extend bounds to show a pt that is selected in flot 
      //    var latlngbounds =  new google.maps.LatLngBounds();
      //    for (var i =0; i < markers.length; i++) {
      //      latlngbounds.extend(markers[i].getPosition());
      //    }
      //    map.fitBounds(latlngbounds);




// WHEN HTML PREF IS SET TO 'Lines':

  // If html pref is set to lines, set data for the polyline
  if ((display_type != null) && (display_type == 1)) {
    var flight_latlon_pos = {{pos_data|safe}};
    var flightPlanCoordinates = new Array();
    
    for (i=0; i < flight_latlon_pos.length-1; i++) {
      var point = new google.maps.LatLng(
        flight_latlon_pos[i][8][0], flight_latlon_pos[i][8][1]);
      flightPlanCoordinates.push(point);
    } // end for loop through queried data points

    
    // Draw the polyline
    var flightPath = new google.maps.Polyline({
      path: flightPlanCoordinates,
      geodesic: true,
      strokeColor: '#8383FF',
      strokeOpacity: 1.0,
      strokeWeight: 1
    });


    flightPath.setMap(map);
  } // end if html pref is set to lines
      

    // Example of addListeners for the flightPath
      // On mouseover, the flightPath changes color
      
      //google.maps.event.addListener(flightPath, 'mouseover', function() {
        //flightPath.setOptions({strokeColor: '#00FFaa'});
      //});
      //google.maps.event.addListener(flightPath, 'mouseout', function () {
        //flightPath.setOptions({strokeColor: '#FF00FF'});
      //});


    // Attempt at 2nd Polyline 
      // var flight_track = {{track_list}};
      // var flightPlanCoordinates2 = new Array();
      // for (i=0; i < flight_track.length-1; i++)
      // {
      //   var point2 = new google.maps.LatLng(
      //    flight_track[i][8][0], flight_track[i][8][1]);
      //   flightPlanCoordinates2.push(point);
      // }

    // Draw 2nd blue polyline
      // var flightPath2 = new google.maps.Polyline({
      //   path: flightPlanCoordinates2,
      //   geodesic: true,
      //   strokeColor: '#0000FF',
      //   strokeOpacity: 1.0,
      //   strokeWeight: 1});

    // flightPath2.setMap(map);



} //end function initialize



// Load google maps on browser window load
google.maps.event.addDomListener(window, 'load', initialize);


</script>



                            <!-- FLOT GRAPH -->

<link href="/static/flot/example.css" rel="stylesheet" type="text/css">


<!-- if there is queried data (this is a messy if check)
      then display flot graph -->

{% if positions %}

<!-- Attach JQUERY & FLOT plugins -->
<script src="/static/flot/jquery-1.11.1.min.js"></script>
<script src="/static/flot/jquery.flot.min.js"></script>
<script src ="/static/flot/jquery.flot.time.min.js"></script>
<script src ="/static/flot/jquery.flot.selection.min.js"></script>
<script src="/static/flot/jquery.flot.threshold.min.js"></script>
<script src="/static/flot/jquery.flot.resize.min.js"></script>

<!-- plugins for saving graphs as images. commented out because they throw an error when a point on the flot graph is selected -->
<!-- <script type="text/javascript" src="http://zizhujy.com/Scripts/base64.js"></script>
<script type="text/javascript" src="http://zizhujy.com/Scripts/drawing/canvas2image.js"></script>
<script type="text/javascript" src="http://zizhujy.com/Scripts/flot/jquery.flot.saveAsImage.js"></script>
-->

<script type="text/javascript">

//declare global variables
  //global variable to be passed to google maps for the datetime
  var clickedDateTime;
  
  //save flot clicked info (don't think this needs to be global)
  var flot_clicked_series;
  var flot_clicked_datapoint;

$(function() {
  var d = [];
  var positions = {{pos_data|safe}};
  var graph_data = {{graph_data}};
  var label, min, max;

  if (graph_data ==1) { //likelihood
    for (var i=0; i < positions.length; i++) {
      d.push([positions[i][2]*1000-7*60*60*1000, positions[i][6]]);
    }
  }

  if (graph_data ==2) { //activity
    for (var i=0; i < positions.length; i++) {
      d.push([positions[i][2]*1000-7*60*60*1000, positions[i][7]]);
      }
    }
  
  if (graph_data ==1) {
    label = "Likelihood";
    min: 0;
    max: 1200;
  }

  if (graph_data==2) {
    label = "Activity";
    min: 0;
    max: 1.3;
  }
    //max for tx 63: 1.24100128851
    //max for tx 64: 1.29677759729
    //max for tx 52: 3.31790543425i

  var options = {
    legend: { show: false },
    series: { lines: { show: true }, points: { show: false } },
    grid: { hoverable: true, clickable: true },
    xaxis: { 
      mode: "time", 
      tickSize: [4, "hour"], 
      timeformat: "%m-%d %H:%M" 
    },  //does this work?
    //yaxis: {min: min, max: max},
    highlightColor: 'red',
    selection: { mode: "xy" },
    colors: ["#8383FF"] //changes flot line color. 
        // ??? use 'colors' for 1 series & 'color' for multiple series ???
  };


  var plot = $.plot("#placeholder2", [{ data: d, label: label}], options);
  




  //2nd deployment
  //var d1 = [];
  //var positions1 = {{pos_data1|safe}};
  
  //if (graph_data ==1) { //likelihood
  //  for (var i=0; i < positions1.length; i++) {
  //    d1.push([positions1[i][2]*1000-7*60*60*1000, positions1[i][6]]);
  //  }
  //}

  //if (graph_data ==2) { //activity
  //  for (var i=0; i < positions1.length; i++) {
  //    d1.push([positions1[i][2]*1000-7*60*60*1000, positions1[i][7]]);
  //    }
  //}

  //var data = [{ data: d, label: "dep1", 
  //              color: ["red"], 
  //              highlightColor: 'yellow'
  //          },

  //          { data: d1, label: "dep2", 
  //            color: ["blue"], 
  //            highlightColor: 'green'
  //          }];
  //var options = [options0, options1];
  //var plot = $.plot("#placeholder2", data, 
  //    {xaxis: {mode: "time", timeformat: "%m-%d %H:%M"}});









  $("<div id='tooltip'></div>").css({
    position: "absolute",
    display: "none",
    border: "0.01px solid #998484",
    padding: "0.02px",
    "background-color": "#fee",
    opacity: 0.80
  }).appendTo("body");

  
  var dataSeriesIndex = 0;

  $('button').click(function(){
    var idx = $(this).data('index');
    plot.unhighlight()
    plot.highlight(dataSeriesIndex, idx);
    var dataPoint = d[idx]; 
    //if (dataPoint != null) {
    //var dataPosition = plot.pointOffset({x:dataPoint[0], y: dataPoint[1] })
    //var tipHTML = 'Data:<br> X='+dataPoint[0] +'<br> Y=' +dataPoint[1];
    //$('#tooltip').css({left: dataPosition.left+10, 
    // top: dataPosition.top-10}).show().html(tipHTML)
    //}
  })


  $("#placeholder2").bind("plothover2", function (event, pos, item) {
    //if ($("#enablePosition2:checked").length > 0) {
      //var str = "(" + pos.x.toFixed(2) + ", " + pos.y.toFixed(2) + ")";
      //$("#hoverdata2").text(str);
    //}
    
    //if ($("#enableTooltip2:checked").length > 0) {
      if (item) {
        var x = item.datapoint[0].toFixed(2),
            y = item.datapoint[1].toFixed(2);
        $("#tooltip").html(x + ", " + y)
          .css({top: item.pageY+5, left: item.pageX+5})
          .fadeIn(200);
          } else {
            $("#tooltip").hide();
          }
    //}
  });


  $("#placeholder2").bind("plotclick", function (event, pos, item) {
    if (item == undefined) return false;
  //uncomment to have this show up after enablePosition2 in the html (perhaps clickdata2?) 
  //$("#clickdata2").text("Index " + item.dataIndex +', Date/Time:'+item.datapoint[0]+', '+item.series.label + ': ' + item.datapoint[1]);
    
    //save clicked info in global variables
    flot_clicked_series = item.series;
    flot_clicked_datapoint = item.datapoint;
    
    plot.unhighlight(); //unhighlights previous points
    plot.highlight(item.series, item.datapoint);
    clickedDateTime = item.dataIndex;
    
    document.getElementById('flot_index').value = item.dataIndex;
    document.getElementById("form").submit();
  });

  

//create the overview plot
  var overview = $.plot("#overview", [{ data: d, label: label}], {
    legend: { show: false },
    series: { lines: { show: true, lineWidth: 1 }, shadowSize: 0 },
    xaxis: { mode: "time" }, 
    //yaxis: { ticks: 3, min: -2, max: 2 },
    grid: { color: "#999" },
    selection: { mode: "xy" },
    colors: ["#8383FF"] 
  });



 //connect the 2 plots
  $("#placeholder2").bind("plotselected", function (event, ranges) {
    // clamp the zooming to prevent eternal zoom
      if (ranges.xaxis.to - ranges.xaxis.from < 0.00001) {
          ranges.xaxis.to = ranges.xaxis.from + 0.00001;
      }
      if (ranges.yaxis.to - ranges.yaxis.from < 0.00001) {
          ranges.yaxis.to = ranges.yaxis.from + 0.00001;
      }
   // do the zooming



  plot = $.plot("#placeholder2", getData(ranges.xaxis.from, ranges.xaxis.to),
        $.extend(true, {}, options, {
        xaxis: { min: ranges.xaxis.from, max: ranges.xaxis.to },
        yaxis: { min: ranges.yaxis.from, max: ranges.yaxis.to }
        })
      );

  // don't fire event on the overview to prevent eternal loop
  overview.setSelection(ranges, true);
  });

  $("#overview").bind("plotselected", function (event, ranges) {
    plot.setSelection(ranges);
  });



//when user clicks point on flot, flot will reload...
//the following shows the point that the user just clicked, by pushing the flot index button
//must place it at the end, otherwise it will execute before flot draws the chart,
//(I'm assuming that's the reason), and then the point won't get highlighted
  var flot_index = {{flot_index}};
    if (flot_index != null) {
      document.getElementById('flotIndexSubmit').click();
  }

}); //end the function for flot



//this doesn't work
//clickedDateTime = item.dataSeriesIndex;

//set global variable for passing the timestamp to django to google maps:
//clickedDateTime = 6;

</script>
{% endif %} <!-- end if there is queried data, show flot graph -->


</head>







<body>


<div id = "text" style="background-color: #E8E8E8; padding-right: 10px; margin-right: -10px;">
<!-- <button onclick="showDjango()">Show Django</button> -->

<center>
<div id="page_title"><a href=''>QRAAT Data</a></div>
 <!--onclick='initialize(38.487828027, -122.149419006, 14);'-->
<!-- <a href="index.html" target="export">Export view as .kml</a><br>-->
</center>
<br />

<div id ="prefs">

<script type="text/javascript">
//for submitting form automatically when fields have been entered

//function submitIfComplete()
//{
//  // Check the select has something selected
//  if (
//      document.getElementById('tx_ID').selectedIndex > 0 &&
//      document.getElementById('data_type').selectedIndex > 0
//      //!(document.getElementById('pref1').checked == false)
//    {
//    document.getElementById('formID').submit();
//    }
//}
</script>




<b><center><u>SET PREFERENCES</u></center></b>
<font size="2"><form name="form" id="form" action ="" name="settings" method="get">
{% for field in form %}
{{ field.label_tag}} {{field}}<br>
{% endfor %}
</font>
<input type="hidden" name="lat_clicked" id="lat_clicked">
<input type="hidden" name="lng_clicked" id="lng_clicked">
<input type="hidden" name="flot_index" id="flot_index">
<!-- will be replaced by javascript -->
<!--Latitude: <input type="text" id="lat_input" name="lat_input" value="38.486877">
<br>Longitude: <input type="text" id="lng_input" name="lng_input" value="-122.156418"> -->
<center><input type="submit" value="SUBMIT" /></center>
</form>


<!-- <button onclick="fitBounds()">Fit all positions in map window</button>-->

<!-- <font size="1">date range: 2013-08-13  13:57:16 to 2014-06-16 14:28:12</font> -->
</div><!-- end prefs -->

<br>



<div id="mouseover">
<b><u><center>MAP INFO</center></u></b>
<font size="2">
<b>No. of Data Points Displayed (dep = {{positions.1.1}})</b>: {{positions|length}}
<br><b>No. of Data Points Displayed (dep = {{positions1.1.1}})</b>: {{positions1|length}}
<br><b>Mouseover Lat, Lon: </b> <input type="text" class="current_info" id="latlong" style="width:300px; border:1px inset black;"></span>
<br><b>Clicked Lat, Lon: </b><input type="text" class="current_info" id="clicked_lat_lng" style="width:300px; border:1px inset black;"></span>
<br><b>Map Bounds: <font size="1"></b><span id="bounds"></span></font>
<br><b>Map Center: </b><span id="current_center"></span>
<br><b>Map Zoom: </b><span id="current_zoom"></span>
<!--<br><b>Clicked Lat, Long: </b> <input type="text" id="latlongclicked" style="width:300px; border:1px inset black;"></span> -->
<br></font>
</div>
<br>
<div id="clicked">
<!-- <b>Window Bounds Lat, Long:</b><br>
Lat: <p id="latspan"></p>
Lng: <p id ="lngspan"></p> -->



<center><u><b>DATA FOR CLICKED POSITION</b></u></center>
<font size="2">
{% if selected_message%}
 {% if flot_index == None %}
<br><center><i>{{selected_message}}</i></center>
  {% endif %}
{% endif %}
<br><b>Lat, Lon: </b><span id="m_lat_lon"></span>
<br /><b>Easting, Northing, Zone: </b><span id="m_east_north"></span>
<br />
<br /><b>Date & Time: </b><span id="m_date"></span>
<br /><b>Position Likelihood: </b><span id="m_likelihood"></span>
<br /><b>Animal Activity: </b><span id="m_activity"></span>
<br>
<br /><b>Position ID: </b><span id="m_ID"></span>
<br /><b>Transmitter ID: </b><span id="m_transmitter"></span>
</font>
</div> <!-- end clicked -->

</div> <!-- end text -->




<!-- right side -->
<div id="map-canvas"></div>

{% if positions %}
<!-- FLOT CHART -->
<div id="right_side">
  <div id="content">
  {% ifequal graph_data "1" %}
  Likelihood vs. Time
  {% endifequal %}

  {% ifequal graph_data "2" %}
  Activity vs. Time
  {% endifequal %}


<!-- <button data-index="4">Highlight 5th point</button> -->
<button data-index="{{selected_index_large}}" id="selectedIndexSubmit" style="display: none;">Selected Index</button>
<button data-index="{{flot_index}}" id="flotIndexSubmit" style="display: none;">Flot Index</button> 
<!-- Google Maps clicked Index: {{selected_index_large}}
    Flot graph Clicked Index: {{flot_index}}
-->

<!--Uncomment next line to display index, time, and data from clicking the flot chart -->
<!-- <span id ="enablePosition2">Clicked: </span> -->
  <!-- <p><label><input id="enablePosition2" type="checkbox" checked="checked"></input>Clicked: </label>
  -->
  <span id="hoverdata2"></span>
  <span id="clickdata2"></span>
  <!-- <p><label><input id="enableTooltip2" type="checkbox" checked="checked"></input>Enable tooltip</label></p>
-->
<br>
<div id="right_side2">
<!-- 2ND FLOT CHARTS -->

<div id="content2">
  <!-- sets the width of the total container of both the main graph and the small overview graph -->
  <div class="demo-container2" style="width: 660px;">
  <!-- sets the width of the main/large graph -->
  <div id="placeholder2" class="demo-placeholder" style="float:left; width:500px; height: 200px;"></div>
  <!--small overview graph -->
  <div id="overview" class="demo-placeholder" style="float: right; width: 150px; height: 125px;"></div>
 
  </div>
</div> <!-- end div right_side2 -->

{% endif %} <!-- end if positions (if there is query data) -->



</body>
</html>
