<!-- File: qraat_ui/templates/index.html -->

<!DOCTYPE html>
<html>
<head>
  <title>QRAAT APP</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <style type="text/css">
    button { font: normal 14px "omnes-pro", Helvetica, Arial, sans-serif; }
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0; font: normal 14px "omnes-pro", Helvetica, Arial, sans-serif; }
    #map-canvas { margin-top: 1cm; margin-right: 0.25cm; height: 60%; width: 63%; float: right; }
    #text {width: 33%; height: 88%; float: left; font-size: 14px; margin: 1%; }
    #page_title {font-size: 30px; font-weight:bold; }
    #prefs {border-style:solid; border-width: 1px; height: 33%; overflow: scroll; padding: 5px; }
   #mouseover {border-style:solid; border-width: 1px; height: 25%; overflow: scroll; padding: 5px;}
    #clicked {border-style:solid; border-width: 1px; height: 33%; overflow: scroll; padding: 5px;}
    #right_side { float: center; }
    .current_info {font: normal 12px "omnes-pro", Helvetica, Arial, sans-serif; }
    #right_side2, #content2, .demo-placeholder2, .demo-placeholder { float: right; }
 </style>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPB3_yj11lEK6uSAthSd0Btv-E1FJqt3I&sensor=false">
//    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPB3_yj11lEK6uSAthSd0Btv-E1FJqt3I?&v=3&callback=initialize">
</script>

<script type="text/javascript">

//global variable to highlight poly
var highlightedPoly;
var selectedMarker;
var map;
var mapCenter;
var markers = [];

//show alert
//   function showDjango() {
//    //var myzoom = '{{zoom}}';
//    window.alert(myzoom);
//  }
 
  function initialize() {
    //for changing the default center of the map. add fields in forms.py
    //var lat_cen = {{lat_cen}}; 
    //var lng_cen = {{lng_cen}};
    //self.lat = lat_cen
    //self.lng = lng_cen

    self.lat = 38.4897343239;
    self.lng = -122.145749745;
    var myLatLng = new google.maps.LatLng(self.lat, self.lng);
    
    //var zm={{zoom}};
    var reload_zoom;
    var mapOptions;

    if (localStorage.mapLat != null && localStorage.mapLng !=null && localStorage.mapZoom !=null) {
      //if (zm !=null) {
      //  reload_zoom = zm;
      //} else {
      //  reload_zoom = parseInt(localStorage.mapZoom);
      //}

      mapOptions = {
        center: new google.maps.LatLng(localStorage.mapLat, localStorage.mapLng),
        zoom: parseInt(localStorage.mapZoom),
        mapTypeId: google.maps.MapTypeId.SATELLITE,
        scaleControl: true
        };
    } else {
      var mapOptions = {
        center: myLatLng,
        zoom: 14,
        mapTypeId: google.maps.MapTypeId.SATELLITE,
   
        panControl:true,
        zoomControl:true,
        mapTypeControl:true,
        scaleControl:true,
        streetViewControl:true,
        overviewMapControl:true,
        rotateControl:true
   };
   }
    var map = new google.maps.Map(document.getElementById("map-canvas"),
      mapOptions);

    mapCenter = map.getCenter();
    localStorage.mapLat = mapCenter.lat();
    localStorage.mapLng = mapCenter.lng();
    localStorage.mapZoom = map.getZoom();

    google.maps.event.addListener(map, "center_changed", function(){
      mapCenter = map.getCenter();
      localStorage.mapLat = mapCenter.lat();
      localStorage.mapLng = mapCenter.lng();
      localStorage.mapZoom = map.getZoom();
    });

    google.maps.event.addListener(map, "zoom_changed", function (){
      mapCenter = map.getCenter();
      localStorage.mapLat = mapCenter.lat();
      localStorage.mapLng = mapCenter.lng();
      localStorage.mapZoom = map.getZoom();
    });



//clicked data list
    var django_position = {{pos_data}};
    var selected_data = {{selected_data}};
    var dt_str = "{{dt_str}}";

    if (selected_data.length>1) {
      document.getElementById('clicked_lat_lng').value = selected_data[0]+', '+selected_data[1];
    if (selected_data.length > 4) {
      document.getElementById('m_latitude').innerHTML = selected_data[10][0];
      document.getElementById('m_longitude').innerHTML = selected_data[10][1];
      document.getElementById('m_easting').innerHTML = selected_data[5];
      document.getElementById('m_northing').innerHTML = selected_data[6];
      document.getElementById('m_date').innerHTML = dt_str;
      document.getElementById('m_activity').innerHTML = selected_data[9];
      document.getElementById('m_likelihood').innerHTML = selected_data[6];
      document.getElementById('m_ID').innerHTML = selected_data[2];
      document.getElementById('m_transmitter').innerHTML = selected_data[3];
      }
    }

//clicked lat/lon
    google.maps.event.addListener(map, 'click', function(event){
        //document.getElementById('latlongclicked').value = event.latLng.lat() + ', ' + event.latLng.lng()
   
    if ((event.latLng.lat() !==null) && (event.latLng.lng() !==null)) {
    document.getElementById('lat_clicked').value = event.latLng.lat()
    document.getElementById('lng_clicked').value = event.latLng.lng()
    
    //submits form on click the map
    document.getElementById("form").submit();
    }
  });
//mouseover lat/lon
    google.maps.event.addListener(map,'mousemove',function(event){
      //document.getElementById('latspan').innerHTML = event.latLng.lat()
      //document.getElementById('lngspan').innerHTML = event.latLng.lng()
      //note that it's value when it's input & there's a box, and innerHTML when it's span
      document.getElementById('latlong').value = event.latLng.lat() + ', ' + event.latLng.lng()
}); //end onemousemove event listener


//show bounds, center, and zoom
    google.maps.event.addListener(map, 'idle', function(){
      document.getElementById('bounds').innerHTML = this.getBounds();
      document.getElementById('current_zoom').innerHTML = this.getZoom();
      document.getElementById('current_center').innerHTML = this.getCenter();
    });

  //var circle = new google.maps.Circle({
  //  map: map,
  //  radius: 10,
  //  visible: true
  //});

//Site Markers    
var site_checked = {{site_checked}};
var site_list = {{ siteslist }};
var locations = [];

//show site markers if site is checked in preferences
if (site_checked ==1) {
  for (var i = 0; i < site_list.length; i++) {
    locations.push([site_list[i][0], site_list[i][1], site_list[i][2], site_list[i][0]]);
  }
}
else {
  locations.push([]);
}

//if (selected_data.length >  4) {
//  locations.push(['selected point', selected_data[10][0], selected_data[10][1], 'selected point']);
//}

//    var locations = [
//      ['Site 1', 38.483052371711864, -122.14958038408795, 1],
//      ['Center for pos estimation', 38.48973432391515, -122.1457497450115, 10]
//      ];

    var infowindow = new google.maps.InfoWindow();
    var marker, i;
    var markers = new Array();

 for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });
    }
      if (selected_data.length > 4) {
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(selected_data[10][0], selected_data[10][1]),
          map: map,
          icon: 'http://www.geocodezip.com/mapIcons/small_yellow_dot.png'
         // icon: 'http://labs.google.com/ridefinder/images/mm_20_green.png'
        });
      }
      
     markers.push(marker);
      

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          //if (i < 9) {
            infowindow.setContent('<b>Site '+locations[i][0]+'</b><br /> Lat: '+locations[i][1]+'<br /> Lon: '+locations[i][2]);
          //}
          //else {
          //  infowindow.setContent('Location: 'selected_data[10][0]+' , '+selected_data[10][1]);)
          //}
          infowindow.open(map, marker);
        }
      })(marker, i));


//Red lines, Flight Plan
    var flight_latlon_pos = {{pos_data}};
    var flightPlanCoordinates = new Array();
    for (i=0; i < flight_latlon_pos.length-1; i++)
    {
      var point = new google.maps.LatLng(flight_latlon_pos[i][8][0], flight_latlon_pos[i][8][1]);
      flightPlanCoordinates.push(point);
    }

//2nd Polyline 
   // var flight_track = {{track_list}};
   // var flightPlanCoordinates2 = new Array();
   // for (i=0; i < flight_track.length-1; i++)
   // {
   //   var point2 = new google.maps.LatLng(flight_track[i][8][0], flight_track[i][8][1]);
   //   flightPlanCoordinates2.push(point);
   // }

 //Draw the red polyline
    var flightPath = new google.maps.Polyline({
      path: flightPlanCoordinates,
      geodesic: true,
      strokeColor: '#FF0000',
      strokeOpacity: 1.0,
      strokeWeight: 1});

    flightPath.setMap(map);
  

//on mouseover, the flightPath changes color
//    google.maps.event.addListener(flightPath, 'mouseover', function() {
//      flightPath.setOptions({strokeColor: '#00FFaa'});
//    });

//    google.maps.event.addListener(flightPath, 'mouseout', function () {
//      flightPath.setOptions({strokeColor: '#FF00FF'});
//    });

//infowindow for markers
    google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map,marker);
     });

//2nd blue polyline
   // var flightPath2 = new google.maps.Polyline({
   //   path: flightPlanCoordinates2,
   //   geodesic: true,
   //   strokeColor: '#0000FF',
   //   strokeOpacity: 1.0,
   //   strokeWeight: 1});

   // flightPath2.setMap(map);

  //  google.maps.event.addListener(marker, 'click', function() {
  //    infowindow.open(map,marker);
  //   });

  } //end function initialize

google.maps.event.addDomListener(window, 'load', initialize);
</script>

<link href="../static/flot/example.css" rel="stylesheet" type="text/css">


{% if pos_data|length > 10 %}
<!-- JQUERY CHARTS WITH FLOT -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
-->
<script src="../static/flot/jquery-1.11.1.min.js"></script>
<script src="../static/flot/jquery.flot.min.js"></script>

<!-- "visitors" plugins (2 charts/zooming) -->
<script src ="../static/flot/jquery.flot.time.min.js"></script>
<script src ="../static/flot/jquery.flot.selection.min.js"></script>

<script src="../static/flot/jquery.flot.threshold.min.js"></script>
<script src="../static/flot/jquery.flot.resize.min.js"></script>

<!-- plugins for saving graphs as images -->
<script type="text/javascript" src="http://zizhujy.com/Scripts/base64.js"></script>
<script type="text/javascript" src="http://zizhujy.com/Scripts/drawing/canvas2image.js"></script>
<script type="text/javascript" src="http://zizhujy.com/Scripts/flot/jquery.flot.saveAsImage.js"></script>


<script type="text/javascript">

$(function() {
  var d = [];
  var positions = {{pos_data}};
  var graph_data = {{graph_data}};
  if (graph_data ==2) {
    for (var i=0; i < positions.length; i++) {
      d.push([positions[i][2], positions[i][7]]);
    }
  }

  if (graph_data ==1) {
    for (var i=0; i < positions.length; i++) {
      d.push([positions[i][2], positions[i][6]]);
      }
    }

  var plot = $.plot("#placeholder2", [{ data: d, label: "likelihood"}],
    {
    series: { lines: { show: true }, points: { show: false }},
    grid: { hoverable: true, clickable: true},
    xaxis: { mode: 'time' },
    yaxis: {min: 0, max: 1000}
  });

  //$("<div id='tooltip2'></div>").css({
  //  position: "absolute",
  //  display: "none",
  //  border: "0.01px solid #fdd",
  //  padding: "0.02px",
  //  "background-color": "#fee",
  //  opacity: 0.80
  //  }).appendTo("body");

  var dataSeriesIndex = 0;

  $('button').click(function(){
    var idx = $(this).data('index');
    plot.unhighlight()
    plot.highlight(dataSeriesIndex, idx);
    var dataPoint = d[idx];
    var dataPosition = plot.pointOffset({x:dataPoint[0], y: dataPoint[1] })
    var tipHTML = 'Data:<br> X='+dataPoint[0] +'<br> Y=' +dataPoint[1];
    $('#tooltip').css({left: dataPosition.left+10, top: dataPosition.top-10}).show().html(tipHTML)
  })

  $("#placeholder2").bind("plothover2", function (event, pos, item) {
    if ($("#enablePosition2:checked").length > 0) {
      var str = "(" + pos.x.toFixed(2) + ", " + pos.y.toFixed(2) + ")";
      $("#hoverdata2").text(str);
    }
    
    if ($("#enableTooltip2:checked").length > 0) {
      if (item) {
        var x = item.datapoint[0].toFixed(2),
            y = item.datapoint[1].toFixed(2);
        $("#tooltip2").html(item.series.label + " of " + x + " = " + y)
          .css({top: item.pageY+5, left: item.pageX+5})
          .fadeIn(200);

          } else {
            $("#tooltip2").hide();
          }
    }
  });

  $("#placeholder2").bind("plotclick", function (event, pos, item) {
    if (item) {
  $("#clickdata2").text("Index " + item.dataIndex +', Date/Time:'+item.datapoint[0]+', '+item.series.label + ': ' + item.datapoint[1]);
    plot.highlight(item.series, item.datapoint);
  }

 //if already highlighted, unhighlight. or only highlight one at a time
});

});

</script>

                      <!-- IGNORE THIS PART -->

<script type="text/javascript">

//FLOT WITH SCALING

$(function() {
  var positions = {{pos_data}};
  
  var d = [];
  
  //var act_checked = {{act_checked}};
  //var lk_checked = {{lk_checked}};
  var graph_data = {{graph_data}};
//activity
  if (graph_data == 2) {
//if (act_checked == 1) {
  for (var i=0; i< positions.length; i++) {
  //date, activity is 7
  d.push([positions[i][2], positions[i][7]]);
}
}
//likelihood
  if (graph_data == 1) {
//if (lk_checked ==1) {
  for (var i=0; i< positions.length; i++) {
  //date , likelihood is 6
  d.push([positions[i][2], positions[i][6]]);
}
}

//example: var d = [[1196463600000, 0], [1196550000000, 0], [1196636400000, 0]]

// first correct the timestamps - they are recorded as the daily
// midnights in UTC+0100, but Flot always displays dates in UTC
// so we have to add one hour to hit the midnights in the plot

// for (var i = 0; i < d.length; ++i) {
//    d[i][0] +=  60*60*1000;
//  }

  // helper for returning the weekends in a period
    
//function weekendAreas(axes) {
//  var markings = [],
//  d = new Date(axes.xaxis.min);

  // go to the first Saturday

 // d.setUTCDate(d.getUTCDate() - ((d.getUTCDay() + 1) % 7))
 // d.setUTCSeconds(0);
 // d.setUTCMinutes(0);
 // d.setUTCHours(0);

  //var i = d.getTime();

  // when we don't set yaxis, the rectangle automatically
  // extends to infinity upwards and downwards

  //do {
  //    markings.push({ xaxis: { from: i, to: i + 2 * 24 * 60 * 60 * 1000 } });
 //     i += 7 * 24 * 60 * 60 * 1000;
 // } while (i < axes.xaxis.max);

  //return markings;
//} // end weekendAreas function


  var options = { xaxis: { mode: "time", tickLength: 5 },
  //selection: { mode: "x" },
  //grid: { markings: weekendAreas }
  };

  var plot = $.plot("#placeholder", [d], options);

  var overview = $.plot("#overview", [d], {
    series: { lines: { show: true, lineWidth: 1 }, shadowSize: 0},
    xaxis: { ticks: [], mode: "time" },
    yaxis: {ticks: [], min: 0, autoscaleMargin: 0.1}, selection:{mode: "x"}
  });

//trying to be interactive with the tooltip mouseover

//  var dataSeriesIndex=0;
//  $('button').click(function(){
//    var idx=$(this).data('index');
//    plot.unhighlight()
//    plot.highlight(dataSeriesIndex,idx);
//    var dataPoint = plotData[idx];
//    var position = plot.pointOffset({ x: dataPoint[0], y: dataPoint[1]})
//  $('#tooltip').css({left: position.left+10, top: position.top-10}).show().html('Data: <br>X='dataPoint[0]+'<br> Y='+dataPoint[1])
//  });



// now connect the two

$("#placeholder").bind("plotselected", function (event, ranges) {
			
    // do the zooming
    $.each(plot.getXAxes(), function(_, axis) {
      var opts = axis.options;
      opts.min = ranges.xaxis.from;
      opts.max = ranges.xaxis.to;
    });
  
    plot.setupGrid();
    plot.draw();
    plot.clearSelection();

    // don't fire event on the overview to prevent eternal loop
    overview.setSelection(ranges, true);
  });

$("#overview").bind("plotselected", function (event, ranges) {
    plot.setSelection(ranges);
  });


$("#footer").prepend("Flot " + $.plot.version + " &ndash; ");

}); //end entire function

</script>

{% endif %}

<!-- Google Charts -->
<!-- 
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);

function drawChart() {
    var positions = {{pos_data}};
//Line Graph 1
    var data1 = new google.visualization.DataTable();
        data1.addColumn('number', 'Time');
        data1.addColumn('number', 'Fox1');
    var result1 = [];
    for (var i=0; i< positions.length; i++) {
          result1.push([positions[i][2], positions[i][7]]);
    }
        //['Year', 'tx1', 'tx2'],
        //['2004',  1000,      400],
        //['2005',  1170,      460],
      
      data1.addRows(result1);
      var options1 = {
          'title': 'Activity',
          'width': 700,
          'height': 125,
          vAxis: {
            title: "(0 to 1)"
          },
          hAxis: {title: 'Time (sec)'}
      };

// Line Graph 2
    var data2 = new google.visualization.DataTable();
      data2.addColumn('number', 'Time');
      data2.addColumn('number', 'Fox1');
    var result2 = [];
    for (var i=0; i < positions.length; i++) {
      result2.push([positions[i][2], positions[i][6]]);
    }
    data2.addRows(result2);
      var options2 = {
          'title': 'Likelihood',
          'width': 700,
          'height': 125,
          vAxis: {
            title: "(0 to 1000)"
          },
          hAxis: {
            title: "Time (sec)"
          }
      };

      var chart1 = new google.visualization.LineChart(document.getElementById('chart_div'));
      var chart2 = new google.visualization.LineChart(document.getElementById('chart_div2'));
      
      chart1.draw(data1, options1);
      chart2.draw(data2, options2);

} //end drawChart function
 
</script>
-->


</head>

<body>

<div id = "text">
<!-- <button onclick="showDjango()">Show Django</button> -->

<center>
<div id="page_title"><a href='index.html'>QRAAT Data</a></div>
<!-- <a href="index.html" target="export">Export view as .kml</a><br>-->
</center>
<br />

<div id ="prefs">
<script type="text/javascript">
//for submitting form automatically when fields have been entered

//function submitIfComplete()
//{
//  // Check the select has something selected
//  if (
//      document.getElementById('tx_ID').selectedIndex > 0 &&
//      document.getElementById('data_type').selectedIndex > 0
//      //!(document.getElementById('pref1').checked == false)
//    {
//    document.getElementById('formID').submit();
//    }
//}
</script>
<b><center><u>SET PREFERENCES</u></center></b>
<br><!-- THE FORM -->
<form name="form" id="form" action ="index.html" name="settings" method="get">
{% for field in form %}
{{ field.label_tag}} {{field}}<br>
{% endfor %}
<input type="hidden" name="lat_clicked" id="lat_clicked">
<input type="hidden" name="lng_clicked" id="lng_clicked">
<!-- will be replaced by javascript -->
<!--Latitude: <input type="text" id="lat_input" name="lat_input" value="38.486877">
<br>Longitude: <input type="text" id="lng_input" name="lng_input" value="-122.156418"> -->
<center><input type="submit" value="SUBMIT" /></center>
</form>
<br><font size="1">No. of Positions Displayed: {{positions|length}}</font>


<!-- <button onclick="fitBounds()">Fit all positions in map window</button>-->

<!-- <font size="1">date range: 2013-08-13  13:57:16 to 2014-06-16 14:28:12</font> -->
</div><!-- end prefs -->

<br>

<div id="mouseover">
<font size="2"><b>Mouseover Lat, Long: </b> <input type="text" class="current_info" id="latlong" style="width:300px; border:1px inset black;"></span>
<br><b>Clicked Lat, Long: </b><input type="text" class="current_info" id="clicked_lat_lng" style="width:300px; border:1px inset black;"></span>
<br><b>Current Map Bounds: </b><span id="bounds"></span>
<br><b>Current Center: </b><span id="current_center"></span>
<br><b>Current Zoom: </b><span id="current_zoom"></span>
<!--<br><b>Clicked Lat, Long: </b> <input type="text" id="latlongclicked" style="width:300px; border:1px inset black;"></span> -->
<br></font>
</div>
<br>
<div id="clicked">
<!-- <b>Window Bounds Lat, Long:</b><br>
Lat: <p id="latspan"></p>
Lng: <p id ="lngspan"></p> -->
<center><u><b>DATA FOR CLICKED POSITION</b></u></center>
{% if selected_message %}
<br>{{selected_message}}<br>
{% endif %}
<br><b>Latitude: </b><span id="m_latitude"></span>
<br><b>Longitude: </b><span id="m_longitude"></span>
<br /><b>Easting: </b><span id="m_easting"></span>
<br /><b>Northing: </b><span id="m_northing"></span>
<br />
<br /><b>Date & Time: </b><span id="m_date"></span>
<br /><b>Position Likelihood: </b><span id="m_likelihood"></span>
<br /><b>Animal Activity: </b><span id="m_activity"></span>
<br>
<br /><b>Position ID: </b><span id="m_ID"></span>
<br /><b>Transmitter ID: </b><span id="m_transmitter"></span>

</div> <!-- end clicked -->

</div> <!-- end text -->

<!-- right side -->
<div id="map-canvas"></div>

{% if positions %}
<!-- FLOT CHART -->
<div id="right_side">
  <div id="content">
  {% ifequal graph_data "1" %}
  Likelihood vs. Time
  {% endifequal %}

  {% ifequal graph_data "2" %}
  Activity vs. Time
  {% endifequal %}

<button data-index="4">Highlight 5th point</button>

  <br>
  <span id ="enablePosition2">Clicked: </span>
  <!-- <p><label><input id="enablePosition2" type="checkbox" checked="checked"></input>Clicked: </label>
  -->
  <span id="hoverdata2"></span>
  <span id="clickdata2"></span>
  <!-- <p><label><input id="enableTooltip2" type="checkbox" checked="checked"></input>Enable tooltip</label></p>
-->
<br>
<!-- <button data-index="299">Selected index</button>
<button data-index="9">Highlight 10th point</button>
<button data-index="19">Highlight 20th point</button>
-->



<!--
    <div class="demo-container">
      <div id="placeholder" class="demo-placeholder"></div>
    </div>
  
    <div id="tooltip">Test</div>
    
    <div class="demo-container" style="height:100px;">
      <div id="overview" class="demo-placeholder"></div>
    </div>
  </div>

</div>
-->

<div id="right_side2">
<!-- 2ND FLOT CHARTS -->

<div id="content2">
  <div class="demo-container2" style="height:200px;">
  <div id="placeholder2" class="demo-placeholder"></div>
  </div>
</div> <!-- end div right_side2 -->

{% endif %}

<!--
<div id="charts"><br>


<div id="chart_div"></div>
<div id="chart_div2"></div>
</div> 00>

</body>
</html>
