{% extends "map/base.html" %}

{% block script %}

{% endblock %} <!-- end script block -->

<title> {% block title %} QRAAT Site {% endblock %} </title>

{% block sidebar%}

{% endblock %} <!-- end sidebar block -->


{% block content %}

<div>


<a href="/graphs/telemetry/?datetime_start=&datetime_end=&start_timestamp=&end_timestamp=now&interval=175000&graph_variables=all&site_names=all">Telemetry Graphs</a> <!-- link to default telemetry view -->
<br>
<a href="/graphs/est/?datetime_start=&datetime_end=&start_timestamp=&end_timestamp=now&interval=175000&graph_variables=frequency&graph_variables=fdsp&graph_variables=band3&graph_variables=band10&graph_variables=edsp&site_names=all&deployment_id=60">Est Graphs</a> <!-- link to default est view -->
<br>
<a href="/graphs/processing/?datetime_start=&datetime_end=&start_timestamp=&end_timestamp=now&interval=175000&graph_variables=estserver&graph_variables=server&graph_variables=site&site_names=all">Processing Graphs</a> <!-- link to default processing view -->


</div>

{% endblock %} <!-- end content block -->

