{% extends "map/base.html" %}

{% block script %}

    <link rel="stylesheet" type="text/css" href="/static/map/css/style.css"/>

<script>

function submitForm() {
  document.getElementById('form').action = "";
  document.getElementById('form').submit();
}

</script>

{% endblock %} <!-- end script block -->

<title> {% block title %} QRAAT Site {% endblock %} </title>

{% block sidebar%}

{% endblock %} <!-- end sidebar block -->

{% block content %}
    <div id = "text">

        <div class = "sidebar-form">
            <div id ="prefs">
                <form id="form" action="{% url 'graph:telemetry_graphs' %}" name="settings" method="get">
                    <font size="2">
                        {% for field in form %}
                            <b>{{field.label_tag}}</b> {{field}}<br>
                        {% endfor %}
                    </font>
                </form> <!-- end form -->
            </div><!-- end prefs -->

            <div class="section_title">
                <center><button onclick="submitForm()">Update Graphs</button></center>
            </div> <!-- end section_title -->

        </div> <!-- end sidebar-form -->
    </div> <!-- end text -->
{% endblock %} <!-- end content block -->
