{% extends "graph/graphs.html" %}

{% block script %}
{{ block.super }}
<script src="/static/js/date.js"></script>
<script>
var last_format = ""; // remove?
// To be updated whenever use changes the date/time format
// Iniitialized by get params (start/end_timestamp)
var start_timestamp;
var end_timestamp;

$(document).ready(function() {
    // Initialize timezoneJS which we use for the flot time axis
    // Copied it from est_status.html. TODO: Should this be changed
    // Note: We only have data in timezone.json for LA
    var _tz = timezoneJS.timezone;
    _tz.loadingScheme = _tz.loadingSchemes.MANUAL_LOAD;
    _tz.loadZoneJSONData('/static/js/timezone.json', true);

    $("#form font").prepend($("#id_date_format").addBack().prev().addBack().next().addBack());

    last_format = $("#id_date_format").val();
    initialize_time();
    fill_date_fields(start_timestamp, end_timestamp);

    change_date_fields_visiblity();

    // TODO: copied from dashboard.html, refactor
    $("#id_interval").next("br").after("<label>Move Interval:</label><br><button id='back_interval' type='button' style='margin-bottom:10px'>Back</button> <button id='forward_interval' type='button' style='margin-bottom:10px'>Forward</button><br>")

    $("#back_interval").click(function(e) {
        save_timestamps();
        change_timestamps(-1*(end_timestamp - start_timestamp));
        fill_date_fields(start_timestamp, end_timestamp);
        submit_form(); // B/c this doesn't get called if form.submit()
        document.getElementById("form").submit();
    });            

    $("#forward_interval").click(function(e) {
        save_timestamps();
        change_timestamps(end_timestamp - start_timestamp);
        fill_date_fields(start_timestamp, end_timestamp);
        submit_form(); // B/c this doesn't get called if form.submit()
        document.getElementById("form").submit();
    });            

    $("#id_date_format").change(function() {
        show_enable_all();
        change_date_fields_visiblity();
        save_timestamps();
        fill_date_fields(start_timestamp, end_timestamp);
        last_format = $("#id_date_format").val();
    })

});

// Gets name parameter out of GET request
function get(name){
   if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
      return decodeURIComponent(name[1]);
}

function initialize_time() {
    var sdt = get("datetime_start");
    var edt = get("datetime_end");
    var sts = parseInt(get("start_timestamp"));
    var ets = parseInt(get("end_timestamp"));
    var i = parseInt(get("interval"));
    if (sts && ets) {
        if(sdt || edt || i) {
            alert("Warning: Only start_timestamp and end_timestamp in the URL are used (the timestamps are what all other time fields are based on)");
        }
        start_timestamp = sts;
        end_timestamp = ets;
    }
    else {
        alert("Invalid URL, need start_timestamp and end_timestamp parameters")
    }
}

function change_timestamps(delta) {
    start_timestamp += delta;
    end_timestamp += delta;
}
// Updates start/end_timestamp global variables based on currently displayed date fields
function save_timestamps() {
    var sdt = datetime_to_timestamp($("#id_datetime_start").val());
    var edt = datetime_to_timestamp($("#id_datetime_end").val());
    var sts = parseInt($("#id_start_timestamp").val());
    var ets = parseInt($("#id_end_timestamp").val());
    var i = parseInt($("#id_interval").val());

    if(last_format == "sdt_edt") {
        start_timestamp = sdt;
        end_timestamp = edt;
    } else if(last_format == "sts_ets") {
        start_timestamp = sts;
        end_timestamp = ets;
    } else if(last_format == "sdt_i") {
        start_timestamp = sdt;
        end_timestamp = sdt + i;
    } else if(last_format == "edt_i") {
        start_timestamp = edt - i;
        end_timestamp = edt;
    } else if(last_format == "sts_i") {
        start_timestamp = sts;
        end_timestamp = sts + i;
    } else if(last_format == "ets_i") {
        start_timestamp = ets - i;
        end_timestamp = ets;
    } else if(last_format == "sdt_ets") {
        start_timestamp = sdt;
        end_timestamp = ets;
    } else if(last_format == "sts_edt") {
        start_timestamp = sts;
        end_timestamp = edt;
    }
}
// Change fields to be consistent with newly selected date format
// args: start and end timestamps
function fill_date_fields(start, end) {
    $("#id_start_timestamp").val(start);
    $("#id_end_timestamp").val(end);
    $("#id_datetime_start").val(timestamp_to_datetime(start));
    $("#id_datetime_end").val(timestamp_to_datetime(end));
    $("#id_interval").val(end-start);
}

// Hide fields depending on the Date Format
function change_date_fields_visiblity() {
    var date_format = $("#id_date_format").val();
    // datetime = dt, ts = timestamp. Prepend s/e for start/end. i = interval
    if(date_format == "sdt_edt") {
        hide_disable($("#id_start_timestamp"));
        hide_disable($("#id_end_timestamp"));
        hide_disable($("#id_interval"));
    } else if(date_format == "sts_ets") {
        hide_disable($("#id_datetime_start"));
        hide_disable($("#id_datetime_end"));
        hide_disable($("#id_interval"));
    } else if(date_format == "sdt_i") {
        hide_disable($("#id_datetime_end"));
        hide_disable($("#id_start_timestamp"));
        hide_disable($("#id_end_timestamp"));
    } else if(date_format == "edt_i") {
        hide_disable($("#id_datetime_start"));
        hide_disable($("#id_start_timestamp"));
        hide_disable($("#id_end_timestamp"));
    } else if(date_format == "sts_i") {
        hide_disable($("#id_datetime_start"));
        hide_disable($("#id_datetime_end"));
        hide_disable($("#id_end_timestamp"));
    } else if(date_format == "ets_i") {
        hide_disable($("#id_datetime_start"));
        hide_disable($("#id_datetime_end"));
        hide_disable($("#id_start_timestamp"));
    } else if(date_format == "sdt_ets") {
        hide_disable($("#id_datetime_end"));
        hide_disable($("#id_start_timestamp"));
        hide_disable($("#id_interval"));
    } else if(date_format == "sts_edt") {
        hide_disable($("#id_datetime_start"));
        hide_disable($("#id_end_timestamp"));
        hide_disable($("#id_interval"));
    }
}
// Convert datetime to timestamp
function datetime_to_timestamp(datetime) {
    return new timezoneJS.Date(datetime, TIMEZONE).getTime()/1000;
}

// Ripped from map/index.html. TODO: refactor
function timestamp_to_datetime(time) {
    var theDate = new timezoneJS.Date(time*1000, TIMEZONE);
    // .getHours() returns the local hour for the specified timezone
    // TODO: You may be able to use .toLocaleString() which allows formating and returns the timezone time. Currently it returns undefined, which may be because we only have LA timezone data.
    // + 1 for month because it returns from 0-11!!!
    var dT = {
        year: theDate.getFullYear(),
    month: ("0" + (theDate.getMonth()+1)).slice(-2), 
    day:  ("0" + (theDate.getDate())).slice(-2),
    hour:  ("0" + (theDate.getHours())).slice(-2),
    minute: ("0" + (theDate.getMinutes())).slice(-2),
    second: ("0" + (theDate.getSeconds())).slice(-2), 
    // + 1 second so we dont get the last point we already have from this query
    };
    return dT.year+"-"+dT.month+"-"+dT.day+" "+dT.hour+":"+dT.minute+":"+dT.second;
}

// Disables and then hides surronding label/br
// Ment for date/time input fields
function hide_disable($field) {
    $field.prop("disabled","true");
    //$field.val("");
    $field.hide();
    $field.next().hide();
    $field.prev().hide();
}

function clear_disabled_fields() {
    
}

// Reenables and unhides all date formats. 
// To be used before hide_disable
function show_enable_all() {
   $("#form font b:first").nextUntil("#id_interval").addBack().add("#id_interval").show().prop("disabled",false);
}

// Disables some date/time fields because we really only submit timestamp start + timestamp end as our canon time format
function submit_form() {
    save_timestamps();
    fill_date_fields(start_timestamp, end_timestamp); // Call this instead of manually filling in lol
    $("#id_start_timestamp").prop("disabled",false);
    $("#id_end_timestamp").prop("disabled",false);
    $("#id_datetime_start").prop("disabled", true);
    $("#id_datetime_end").prop("disabled", true);
    $("#id_interval").prop("disabled", true);
    /*
    var date_format = $("#id_date_format").val();
    $start = $("#id_start_timestamp");
    $end = $("#id_end_timestamp");
    if(date_format == "sdt_edt") {
        hide_disable($("#id_start_timestamp"));
        hide_disable($("#id_end_timestamp"));
        hide_disable($("#id_interval"));
    } else if(date_format == "sts_ets") {
        // Do nothing yay
    } else if(date_format == "sdt_i") {
        $("#id_start_timestamp").prop("disabled",false);
        $("#id_end_timestamp").prop("disabled",false);
        $("#id_datetime_start").prop("disabled",true);
        $("#id_interval").prop("disabled",true);
        $start.val(datetime_to_timestamp($("#id_datetime_start")));
        $end.val(datetime_to_timestamp($("#id_datetime_end")).val() + parseInt($("#id_interval").val()));
    } else if(date_format == "edt_i") {
        hide_disable($("#id_datetime_start"));
        hide_disable($("#id_start_timestamp"));
        hide_disable($("#id_end_timestamp"));
    } else if(date_format == "sts_i") {
        hide_disable($("#id_datetime_start"));
        hide_disable($("#id_datetime_end"));
        hide_disable($("#id_end_timestamp"));
    } else if(date_format == "ets_i") {
        hide_disable($("#id_datetime_start"));
        hide_disable($("#id_datetime_end"));
        hide_disable($("#id_start_timestamp"));
    } else if(date_format == "sdt_ets") {
        hide_disable($("#id_datetime_end"));
        hide_disable($("#id_start_timestamp"));
        hide_disable($("#id_interval"));
    } else if(date_format == "sts_edt") {
        hide_disable($("#id_datetime_start"));
        hide_disable($("#id_end_timestamp"));
        hide_disable($("#id_interval"));
    }
    */
}

</script>
{% endblock %}

{% block sidebar%}

    <div id = "text">

        <div class = "sidebar-form">
            <div id ="prefs">
                <form id="form" onsubmit="submit_form()" action="{% url 'graph:telemetry_graphs' %}" name="settings" method="get">
                    <font size="2">
                        {% for field in form %}
                            <b>{{field.label_tag}}</b> {{field}}<br>
                        {% endfor %}
                    </font>
                    <div class="section_title">
                        <center><button type="submit">Update Graphs</button></center>
                    </div> <!-- end section_title -->
                </form> <!-- end form -->
            </div><!-- end prefs -->


        </div> <!-- end sidebar-form -->
    </div> <!-- end text -->

{% endblock %} <!-- end sidebar block -->
