{% extends "qraat_site/base_create_object.html" %}
{% load class_tag %}

{%block success_msg %} Target created {% endblock %}
{% block title_msg %} 

Target. 
<font size=3 color=#7F7C7C>
Provide a name and description of the subject of study tagged with a transmitter. The paramters below specify a 
function <i>M(t)</i>, the maximum speed the target can travel (in meters/sec) for <i>t</i> 
seconds. This is used to filter raw positions into a feasible track of the target. The 
burst speed is the maximum speed at which a target can travel for 1 minute, sustained speed
for 30 minutes, and the limit is the speed at which the target migrates. Burst speed should
be greater than sustained, and sustained should be greater than the limit. The family specifies
the function type. If <i>Constant</i> is chosen, then limit and sustained are ignored. 
{% endblock %}
