{% extends "qraat_site/base.html" %}

{% block content %}
<div class="page-header">
    <h2>Projects
    <div class="btn-group" style="margin-left:15%">
        <a href="create-project"><input type="button" class="btn btn-lg btn-primary" value="Create project" name="create-project" /></a>
    </div>
    </h2>
</div>
{% if user_projects %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>My projects</h4>
    </div>
    {% for project in user_projects %}
    <div class="list-group">
        <h4 class="list-group item-heading">
            <a href="/project/{{project.ID}}">{{project.name}}</a>
        </h4>
        <p class="list-group item-text">{{project.description}}</p>
    </div>
    {% endfor %}
</div>
{% endif %}
{% if public_projects %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Public projects</h4>
    </div>
    {% for project in public_projects %}
    <div class="list-group">
        <h4 class="list-group item-heading"><a href={% url 'qraat:show-project' project.ID %}>{{project.name}}</a></h4>
        <p class="list-group item-text">{{project.description}}</p>
    </div>
    {%endfor%}
</div>
{% endif %}
{% if not public_projects and not user_projects %}
<h4> No projects available </h4>
{%endif%}
{% endblock %}
