{% extends "qraat_auth/base.html" %}

{% block content %}
<div class="form-container center-div"> 
    {% if changed %}
    <div class="alert alert-success">
        <p>Password changed!</p>
    </div>
    {%endif%}

  <form action={% url 'auth:change-password' %}  method="post">
    {% csrf_token %}
	<!-- Display form errors -->
	{% if form.non_field_errors %}
		<div class="alert alert-danger">
			{{ form.non_field_errors }}
		</div>
	{% endif %}
	<!-- Loop over form fields -->
	<div class="input-group-container">
	{% for field in form %}
			{% if field.errors %}
				{% for error in field.errors %}
					<div class="input-error">
						* {{ error|escape}}
					</div>
				{% endfor %}
			{% endif %}
		<!-- Display form fields -->
			<div class="input-group input-lg">
				<div class="form-label">{{ field.label_tag}}</div>
				<div class="form-field">{{ field }}</div>
			</div>
	{% endfor %}
	<div class="input-group submit-btn">
		<div class="btn-group-vertical">
			<button class="btn btn-default btn-lg" type="submit" value="edit-user">Submit</button>
		</div>
	</div>
	</div>
 </form>
</div>
{% endblock %}
