{% extends "qraat_auth/base.html" %}

{% block content %}
<div class="form-container login-form">
    <form action="{% url 'auth:login' %}?next={{next}}" method="post">
    {% csrf_token %}
	<!-- Displays form errors -->
	{% if login_form.non_field_errors %}
		<div class="alert alert-danger">
			{{ login_form.non_field_errors }}
		</div>
	<!-- Display message if user was redirected to the login page -->
	{% elif next_URL != None %}
		<div class="alert alert-info">
			<b>Please sign in to access the page you requested.</b>
		</div>
	{% endif %}
	
	<!-- Loops over form fields -->
	<div class="input-group-container">
	{% for field in login_form %}
			<!-- Displays fields specific field errors -->
			{% if field.errors %}
				{% for error in field.errors %}
					<div class="input-error">
						* {{ error|escape}}
					</div>
				{% endfor %}
			{% endif %}
			<!-- Displays form field -->
			<div class="input-group input-lg">
				<div class="form-label">{{ field.label_tag}}</div>
				<div class="form-field">{{ field }}</div>
			</div>
	{% endfor %}
	<div class="input-group submit-btn">
	 <div class="btn-group-horizontal">
		<button class="btn btn-primary btn-lg" type="submit" value="sign in">Sign in</button>
    </div>
  </form>
</div>
</div>
</div>
{% endblock %}
