<!DOCTYPE html>
<html>
<head>
  <title>Map</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map-canvas { height: 90% }
  </style>

<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPB3_yj11lEK6uSAthSd0Btv-E1FJqt3I">
</script>

<script type="text/javascript">
  function initialize() {
    //var myLatLng = new google.maps.LatLng(38.479385, -122.142365);
    {% if lat|length > 0 %}
      var myLatLng = new google.maps.LatLng({{ lat }},{{ lng }});
    {% else %} {% if lat|length == 0 %}
      var myLatLng = new google.maps.LatLng((38.479385, -122.142365);
    {% endif %} {% endif %}

    var mapOptions = {
      center: myLatLng,
      zoom: 14,
      mapTypeId: google.maps.MapTypeId.SATELLITE,
   
       panControl:true,
       zoomControl:true,
       mapTypeControl:true,
       scaleControl:true,
       streetViewControl:true,
       overviewMapControl:true,
       rotateControl:true
   };

    var map = new google.maps.Map(document.getElementById("map-canvas"),mapOptions);
    
    var contentString = '<div id="content"><h1>Mouse1</h1><p id="description">Mouse 1 is located at '+myLatLng+'.</p>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      draggable:true,
      title:"Quail Ridge Reserve"
    });
  google.maps.event.addListener(marker, 'click', function() {
    infowindow.open(map,marker);
    });
  }

 google.maps.event.addDomListener(window, 'load', initialize);
</script>
</head>

<body>
<h1>Map</h1>
{{ message }}
Enter a <b>latitude</b> and <b>longitude</b> to see on the map: <form action="/maps.html/" method="post">
    {% csrf_token %}
           {% for field in form %}
        {{ field }}
      {% endfor %}
      <input type="submit" value="Submit"/>
 </form>

  {% comment %} Latitide: <input type="text" name="lat" value="{{ field }}">   
   Longiture: <input type="text" name="lng" value="{{ field }}">{% endcomment %}

<!-- (not sure if database or post...) -->
You entered:
Latitude: <b>{{ lat }}</b>, Longitude: <b>{{ lng }}</b>
<br />
Note: Quail Ridge Reserve is located at (38.479385, -122.142365).
  <!-- Click <a href="">here</a> to see it.-->
<br /><br />

<!--
{% if message %} 
  <ul>
  {% for user in LatLngList %}
  <li>{{ latlng.lat }} , {{ latlng.lng}}</li>
  {% endfor %}
  </ul>
{% endif %}

Form2 <form name="latlng" action="/maps.html" method="post">
  {% csrf_token %}
    Latitude: <input type="text" name="lat"><br />
      Longitude: <input type="text" name="lng"><br />
        <input type="submit" value="Submit">
          </form><br />
-->

<div id="map-canvas"/>
</body>
</html>
