<!-- File: maps4.html -->

<!DOCTYPE html>
<html>
<head>
  <title>QRAAT APP</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 5; padding: 0 }
    #map-canvas { margin-top: 1cm; height: 60%; width: 68%; float: right; }
    #text {width: 28%; height: 90%; float: left; font-size: 14px; margin: 1%; }
    #page_title {font-size: 35px; font-weight:bold; }
    #prefs {border-style:solid; border-width: 1px; height: 35%; overflow: scroll; padding: 10px; }
    #mouseover {border-style:solid; border-width: 1px; height: 45%; overflow: scroll; padding: 10px;}
    #charts {float: right; }
   /* #chart_div {float: center; }
    #chart_div2 {float: center; }
    #chart {float: right; } */
  </style>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPB3_yj11lEK6uSAthSd0Btv-E1FJqt3I&sensor=false">
//<script type="text/javascript"
//    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPB3_yj11lEK6uSAthSd0Btv-E1FJqt3I?&v=3&callback=initialize">
</script>


<script type="text/javascript">
  
  function initialize() {
    self.lat = 38.4897343239;
    self.lng = -122.145749745;
    //self.lat = 38.479385;
    //self.lng = -122.142365;
    var myLatLng = new google.maps.LatLng(self.lat, self.lng);

    var mapOptions = {
      center: myLatLng,
      zoom: 14,
      mapTypeId: google.maps.MapTypeId.SATELLITE,
   
       panControl:true,
       zoomControl:true,
       mapTypeControl:true,
       scaleControl:true,
       streetViewControl:true,
       overviewMapControl:true,
       rotateControl:true
   };

//mouseover data list
//0: ID, 
//1: depID, 
//2: timestamp, 
//3: easting
//4: northing
//5: utm_zone_number
//none: itm_zone_letter
//6: likehood
//7: activity
    var mouseover_data = {{json_data_list}};
    var mouseover_len = {{data_list_len}};


    var map = new google.maps.Map(document.getElementById("map-canvas"),
      mapOptions);
    
    google.maps.event.addListener(map,'click',function(event){
        document.getElementById('latlongclicked').value = event.latLng.lat() + ', ' + event.latLng.lng()

    //for (i=0; i=mouseover_len-1; i++) {
    //  if ((Math.abs(event.latLng.lat() - mouseover_data[i][8][0]) < 0.0001) && 
    //      (Math.abs(event.latLng.lng() - mouseover_data[i][8][1]) < 0.0001))
    //    {
    //         document.getElementById('m_easting').innerHTML = mouseover_data[i][3];
    //    }
    //  }
    });
//mouseover lat/lon
    google.maps.event.addListener(map,'mousemove',function(event){
      //document.getElementById('latspan').innerHTML = event.latLng.lat()
      //document.getElementById('lngspan').innerHTML = event.latLng.lng()
      document.getElementById('latlong').innerHTML = event.latLng.lat() + ', ' + event.latLng.lng()

//mouseover other data
//created an error, perhaps too much to handle:
      //for (i=0; i=mouseover_len-1; i++) {
      //  if ((Math.abs(event.latLng.lat() - mouseover_data[i][8][0]) < 0.0001) && 
      //      (Math.abs(event.latLng.lng() - mouseover_data[i][8][1]) < 0.0001)
      //  {
      //       document.getElementById('m_easting').innerHTML = mouseover_data[i][3];
      //      etc..........[i][2]
      //      document.getElementById('m_northing').innerHTML = mouseover_data[0][4];
      //      document.getElementById('m_date').innerHTML = mouseover_data[0][2];
      //      document.getElementById('m_time').innerHTML = mouseover_data[0][2];
      //      document.getElementById('m_activity').innerHTML = mouseover_data[0][7];
      //      document.getElementById('m_likelihood').innerHTML = mouseover_data[0][6];
      //      document.getElementById('m_animal_ID').innerHTML = mouseover_data[0][0];
      //      document.getElementById('m_species').innerHTML = 'put species here';
      //      document.getElementById('m_transmitter').innerHTML = mouseover_data[0][1];
      //  }
      //}

    //document.getElementById('m_easting').innerHTML = mouseover_data[0][3];
      document.getElementById('m_northing').innerHTML = mouseover_data[0][4];
      document.getElementById('m_date').innerHTML = mouseover_data[0][2];
      document.getElementById('m_time').innerHTML = mouseover_data[0][2];
      document.getElementById('m_activity').innerHTML = mouseover_data[0][7];
      document.getElementById('m_likelihood').innerHTML = mouseover_data[0][6];
      document.getElementById('m_animal_ID').innerHTML = mouseover_data[0][0];
      document.getElementById('m_species').innerHTML = 'species here.<br /> <b>listLat:</b> '+mouseover_data[0][8][0]+'<br /> <b>listLon:</b> '+mouseover_data[0][8][1];
      document.getElementById('m_transmitter').innerHTML = mouseover_data[0][1];
    }); //end onemousemove event listener

// ONE MARKER AT MYLATLNG WITH INFOWINDOW
   // var contentString = '<div id="content"><h3>Mouse1</h3>'+
   // '<p id="description">Mouse 1 is located at '+myLatLng+'.</p>';
   // var infowindow = new google.maps.InfoWindow({
   //   content: contentString
   // });

   // var marker = new google.maps.Marker({
   //   position: myLatLng,
   //   map: map,
   //   draggable:false,
   //   title:"Quail Ridge Reserve"
   // });


// markers for site:
//circle, can be used for small markers
    var circle ={
      path: google.maps.SymbolPath.CIRCLE,
      fillColor: 'red',
      fillOpacity: .4,
      scale: 4.5,
      strokeColor: 'white',
      strokeWeight: 1
    };

    
// pass in site locations from json from models
    var sites_latlon = {{latlon_list}};
    var flight_len = {{latlon_len}};
    
    
    var locations = [
      ['Site 1', 38.483052371711864, -122.14958038408795, 1],
      ['Site 2', 38.49970896759306, -122.14861965765581, 2],
      ['Site 3', 38.49932697652555, -122.13974362456665, 3],
      ['Site 4', 38.49164360655183, -122.15281181424076, 4],
      ['Site 5', 38.491915740033946, -122.13629936150039, 5], 
      ['Site 6', 38.49292503709557, -122.14234015310441, 6],
      ['Site 7', 38.483052371711864, -122.14958038408795, 7],
      ['Site 8', 38.49518771797572, -122.1514169574267, 8],
      ['Site 9', 38.493453731086, -122.14803990103866, 9], 
      ['Center for pos estimation', 38.48973432391515, -122.1457497450115, 10]
      ];

    var infowindow = new google.maps.InfoWindow();
    var marker, i;
    var markers = new Array();
    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      markers.push(marker);

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent('<b>'+locations[i][0]+'</b><br /> Lat: '+locations[i][1]+'<br /> Lon: '+locations[i][2]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    } //endfor



    //using json to pass in lat lon points from database for line
    //displays 10 points (site1 and server(7) are the same)
    
    var flight_latlon_pos = {{latlon_pos}};
    var flight_pos_len = {{latlon_pos_len}};
    var flightPlanCoordinates = new Array();
    for (i=0; i < flight_pos_len-1; i++)
    {
      var point = new google.maps.LatLng(flight_latlon_pos[i][0], flight_latlon_pos[i][1]);
      flightPlanCoordinates.push(point);
    }



  //-------------------
    // SITELIST: using json to pass in lat lon points from database for line

   // var flight_latlon = {{latlon_list}};
   // var flight_len = {{latlon_len}};
   //     var flightPlanCoordinates = new Array();
   // for (i=0; i < flight_len-1; i++)
    //{
   // var point = new google.maps.LatLng(flight_latlon[i][0], flight_latlon[i][1]);
   // flightPlanCoordinates.push(point);
   // }
   
   //var flightPlanCoordinates = 
    //    [
    //    new google.maps.LatLng(flight_latlon[0][0], flight_latlon[0][1]),
    //    new google.maps.LatLng(flight_latlon[1][0], flight_latlon[1][1]),
   //    ]; 
    
 
    var flightPath = new google.maps.Polyline({
      path: flightPlanCoordinates,
      geodesic: true,
      strokeColor: '#FF0000',
      strokeOpacity: 1.0,
      strokeWeight: 2});

    flightPath.setMap(map);

    google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map,marker);
     });



 //show alert
 //   google.maps.event.addDomListener(map, 'click', showAlert)



 // google.maps.event.addListener(map,'mousemove',function(point)
 //   {
 //     document.getElementById('latspan').innerHTML = point.lat()
 //     document.getElementById('lngspan').innerHTML = point.lng() 
 //     document.getElementById('latlong').innerHTML = point.lat() + ', ' + point.lng()
 //   });


  } //end function initialize




google.maps.event.addDomListener(window, 'load', initialize);
 

//show alert
//function showAlert() {
//  window.alert("hi");
//  }


function show_latlng() {
    var newlat = document.getElementById("lat").value;
    var newlng = document.getElementById("lng").value;
    self.newlat = newlat;
    self.newlng = newlng;
    //alert(newlat+', '+newlng);
    document.getElementById("display").innerHTML = 
      'Currently located at (Latitude, Longitude): <b>('
      +self.newlat+', '+self.newlng+')</b>.';
  }

 // function re_create_map() {
 //   var newlatlng = new google.maps.LatLng(document.getElementById("lat").value,document.getElementById("lng").value);
 //   center = newlatlng; 
</script>




<!--Charts -->

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);

//resize chart dynamically??
   // $(window).on("throttledresize", function (event) {
   // drawChart();
   // });

function drawChart() {
      var data1 = new google.visualization.DataTable();
        data1.addColumn('number', 'Time');
        data1.addColumn('number', 'Activity');
    
    //pass in the data_list from views and models
    var mouseover_data = {{json_data_list}};
    var mouseover_len = {{data_list_len}};


    var result1 = [];
    for (var i=0; i< mouseover_len; i++) {
          result1.push([mouseover_data[i][2], mouseover_data[i][7]]);
    }
        //['Year', 'tx1', 'tx2'],
        //['2004',  1000,      400],
        //['2005',  1170,      460],
        //['2006',  660,       1120],
        //['2007',  1030,      540],
        //['2008',  660,       1120],
        //['2009',  1030,      540],
        //['2010',  730,      340],
        //['2011',  1036,      560],
        //['2012',  1033,      545],
        //['2013',  1430,      240],
        //['2014',  1430,      640],
      
      data1.addRows(result1);

      var options1 = {
          'title': 'Activity',
          'width': 700,
          'height': 125,
          vAxis: {
            title: "(0 to 1)"
          },
          hAxis: {
            title: 'Time (sec)'
          }
          
      };

// Line Graph 2
    
    var data2 = new google.visualization.DataTable();
      data2.addColumn('number', 'Time');
      data2.addColumn('number', 'Activity');
    
    var result2 = [];
    for (var i=0; i < mouseover_len; i++) {
      result2.push([mouseover_data[i][2], mouseover_data[i][6]]);
    }

    data2.addRows(result2);
      //var data2 = google.visualization.arrayToDataTable([
      //  ['Time', 'tx1', 'tx2'],
      //  ['2004',  10,      20],
      //  ['2005',  20,      40],
      //  ['2006',  34,       20],
      //  ['2007',  103,      54],
      //  ['2008',  660,       1120],
      //  ['2009',  1030,      540],
      //  ['2010',  730,      340],
      //  ['2011',  1036,      560],
      //  ['2012',  1033,      545],
      //  ['2013',  1430,      240],
      //  ['2014',  1430,      640],
     // ]);
      var options2 = {
          'title': 'Likelihood',
          'width': 700,
          'height': 125,
          vAxis: {
            title: "(0 to 1000)"
          },
          hAxis: {
            title: "Time (sec)"
          }
      };


      var chart1 = new google.visualization.LineChart(document.getElementById('chart_div'));
      var chart2 = new google.visualization.LineChart(document.getElementById('chart_div2'));

      //interactive selection ???
    //function myClickHandler(){
    //  var selection = myVis.getSelection();

    //  for (var i = 0; i < selection.length; i++) {
    //    var item = selection[i];
    //    if (item.row != null && item.column != null) {
    //      message += '{row:' + item.row + ',column:' + item.column + '}';
    //    } else if (item.row != null) {
    //      message += '{row:' + item.row + '}';
    //    } else if (item.column != null) {
    //      message += '{column:' + item.column + '}';
    //    }
    //  }
    //  if (message == '') {
    //    message = 'nothing';
    //  }
    //  alert('You selected ' + message);
   // }
      
      
      chart1.draw(data1, options1);
      chart2.draw(data2, options2);


//resize chart   
   // $(window).smartresize(function () {
   //         chart1.draw(data1, options);
   //         chart2.draw(data2, options2);
   // });
} //end drawChart function

 
</script>


</head>




<body>
<!-- 
  <form name="latlng" onClick="show_latlng()" method="get">
  {% comment %} <form name="latlng" action="/maps3.html" method="post">
  {% csrf_token %} {% endcomment %}
  <h3>Enter a latitute and longitude: </h3>
  <label>Latitude:</label> <input type="text" name="lat" id="lat"><br />
  <label>Longitude:</label> <input type="text" name="lng" id="lng"><br />
  <input type="submit" value="Submit">
  </form>
-->
<div id = "text">

<center><div id="page_title"><a href='maps4.html'>QRAAT Data</a></div>
</center>
<br />
<div id ="prefs">

<script type="text/javascript">
function submitIfComplete()
{
  // Check the select has something selected
  if (
      document.getElementById('tx_ID').selectedIndex > 0 &&
      document.getElementById('data_type').selectedIndex > 0
      //!(document.getElementById('pref1').checked == false &&
      //document.getElementById('pref2').checked == false &&
      //document.getElementById('pref3').checked == false
      )
    {
    document.getElementById('formID').submit();
    }
}
</script>

<h3><center><u>SET PREFERENCES</u></center></h3>
<!-- {{ message }} -->
<form action="/hello/maps4.html" method="get" id="formID">
  <select id='tx_ID' name="tx_ID" onchange="submitIfComplete()">
      <option value="0">Select transmitter...</option>
    {% for i in tx_list %}
      {% if i.2 %}
      <option value="{{i.0}}">{{i.0}} (ACTIVE)</option>
      {% else %}
      <option value="{{i.0}}">{{i.0}} (inactive)</option>
      {% endif %}
    {% endfor %}
    <!--<option value="0">Select transmitter...</option>
    <option value="1">Transmitter 1</option>
    <option value="2">Transmitter 2</option>
    <option value="3">Transmitter 3</option> -->
  </select>

<br />
  <select id='data_type' name='data_type' onchange="submitIfComplete()">
    <option value="0">Select data type...</option>
    <option value="pos">Positions</option>
    <option value="trk">Tracks</option>
  </select>
  
<br />
  from <font size="1">yyyy-mm-dd hh:mm:ss</font><br /><input type="datetime" value="2014-06-10 10:01:10" name="dt_fr" id="dt_fr">
  to Date/Time <font size="1"></font><br /> <input type="datetime" value="2014-06-12 20:10:04" name="dt_to" id="dt_to">


<br /><br />
  Show: <br />
  <input type="checkbox" id="pref1" name="pref" value="l_l">lat,lon 
  <input type="checkbox" id="pref2" name="pref" value="prb">likelihood
  <input type="checkbox" id="pref3" name="pref" value="act">activity
  <!-- 
  <input type="radio" name="db" value="sitelist">sitelist<br />
  <input type="radio" name="db" value="track">track<br />
  <input type="radio" name="db" value="Position">Position<br />
  -->
</form>

<br /><b>{{tx}} {{data_type}} {{date_time}} {{pref}}</b>
<!-- {{pref1}} {{pref2}} {{pref3}} -->
</div><!-- end prefs -->

<br /><center><a href="list.html" target="export">Export view as .kml file</a></center><br />

<div id="mouseover">
<h3><center><u>MOUSEOVER INFO</u></center></h3>
<!-- js line ~55 -->
<b>Lat, Long: </b>
<span id="latlong"></span>
<br />
<b>Clicked: </b> 
<input type="text" id="latlongclicked" style="width:300px; border:1px inset gray;"></span>

<!--
Lat: <p id="latspan"></p>
Lng: <p id ="lngspan"></p>
-->
<br /><b>Easting: </b><span id="m_easting"></span>
<br /><b>Northing: </b><span id="m_northing"></span>
<br />
<br /><b>Date: </b><span id="m_date"></span>
<br /><b>Time: </b><span id="m_time"></span>
<br />
<br /><b>Activity: </b><span id="m_activity"></span>
<br /><b>Position Likelihood: </b><span id="m_likelihood"></span>
<br />
<br /><b>Animal ID: </b><span id="m_animal_ID"></span>
<br /><b>Species: </b> <span id="m_species"> </span>
<br /><b>Transmitter: </b><span id="m_transmitter"></span>
</div> <!-- end mouseover -->




<!--
<b>Database values from query:</b><br />
{% for key, value in latlon.items %}
 Lat_{{ forloop.counter }}: {{ key }}<br />
 Lng_{{ forloop.counter }}: {{ value }}<br />
{% endfor %}
-->
</div> <!-- end text -->


<p id="display"></p>


<div id="map-canvas">

</div>
<br />


<div id="charts">
<div id="chart_div"></div>
<div id="chart_div2"></div>
</div>

<div id="container" style="height: 500px; min-width: 500px"></div>

<!--<div id="chart">
Activity Chart (static image)<br/ >
<img src="../static/hello/linegraph.gif" width="200" height="150">
</div> -->

</body>
</html>
