<!-- File: maps4.html -->

<!DOCTYPE html>
<html>
<head>
  <title>JS TEST map</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 5; padding: 0 }
    #map-canvas { margin-top: 1cm; height: 70%; width: 70%; float: right; }
    #text {width: 28%; height: 90%; float: left }
    #prefs {border-style:solid; border-width: 1px; height: 40%; overflow: scroll; }
    #mouseover {border-style:solid; border-width: 1px; height: 40%; overflow: scroll;}
    #chart_div {float: left; }
    #chart_div2 {float: right; }
    /* #chart {float: right; } */
  </style>

<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPB3_yj11lEK6uSAthSd0Btv-E1FJqt3I">
</script>

<script type="text/javascript">
//  function getParams() {
//    String.prototype.q2obj = function(){
//      var qArr = this.split('&')
//          ,qObj = {}
//          ,i =-1;
//      while(++i<qArr.length) {
//              qfrag = qArr[i].split('=');
//              qObj[qfrag[0]] = qfrag[1];
//      }
//      return qObj;
//      };
//      //usage
//      var queryObj = location.search.substr(1).q2obj();
//  }

  function initialize() {
    self.lat = 38.4897343239;
    self.lng = -122.145749745;
    //self.lat = 38.479385;
    //self.lng = -122.142365;
    var myLatLng = new google.maps.LatLng(self.lat, self.lng);

    var mapOptions = {
      center: myLatLng,
      zoom: 15,
      mapTypeId: google.maps.MapTypeId.SATELLITE,
   
       panControl:true,
       zoomControl:true,
       mapTypeControl:true,
       scaleControl:true,
       streetViewControl:true,
       overviewMapControl:true,
       rotateControl:true
   };

    var map = new google.maps.Map(document.getElementById("map-canvas"),
      mapOptions);
    

// ONE MARKER AT MYLATLNG WITH INFOWINDOW
   // var contentString = '<div id="content"><h3>Mouse1</h3>'+
   // '<p id="description">Mouse 1 is located at '+myLatLng+'.</p>';
   // var infowindow = new google.maps.InfoWindow({
   //   content: contentString
   // });

   // var marker = new google.maps.Marker({
   //   position: myLatLng,
   //   map: map,
   //   draggable:false,
   //   title:"Quail Ridge Reserve"
   // });


    // pass in site locations from json from models
    var sites_latlon = {{latlon_list}};
    var flight_len = {{latlon_len}};
    var locations = [
      ['Site 1', 38.483052371711864, -122.14958038408795, 1],
      ['Site 2', 38.49970896759306, -122.14861965765581, 2],
      ['Site 3', 38.49932697652555, -122.13974362456665, 3],
      ['Site 4', 38.49164360655183, -122.15281181424076, 4],
      ['Site 5', 38.491915740033946, -122.13629936150039, 5], 
      ['Site 6', 38.49292503709557, -122.14234015310441, 6],
      ['Site 7', 38.483052371711864, -122.14958038408795, 7],
      ['Site 8', 38.49518771797572, -122.1514169574267, 8],
      ['Site 9', 38.493453731086, -122.14803990103866, 9], 
      ['Center for position estimation', 38.48973432391515, -122.1457497450115, 10]
      ];

    var infowindow = new google.maps.InfoWindow();
    var marker, i;
    var markers = new Array();
    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      markers.push(marker);

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent('<b>'+locations[i][0]+'</b><br /> Lat: '+locations[i][1]+'<br /> Lon: '+locations[i][2]);
          infowindow.open(map, marker);
        }
      })(marker, i));
      } //endfor

    //using json to pass in lat lon points from database for line
    //displays 10 points (site1 and server(7) are the same)
    var flight_latlon = {{latlon_list}};
    var flight_len = {{latlon_len}};
        var flightPlanCoordinates = new Array();
    for (i=0; i < flight_len; i++)
    {
    var point = new google.maps.LatLng(flight_latlon[i][0], flight_latlon[i][1]);
    flightPlanCoordinates.push(point);
    }



  //-------------------
    // SITELIST: using json to pass in lat lon points from database for line

   // var flight_latlon = {{latlon_list}};
   // var flight_len = {{latlon_len}};
   //     var flightPlanCoordinates = new Array();
   // for (i=0; i < flight_len-1; i++)
    //{
   // var point = new google.maps.LatLng(flight_latlon[i][0], flight_latlon[i][1]);
   // flightPlanCoordinates.push(point);
   // }
   
   //var flightPlanCoordinates = 
    //    [
    //    new google.maps.LatLng(flight_latlon[0][0], flight_latlon[0][1]),
    //    new google.maps.LatLng(flight_latlon[1][0], flight_latlon[1][1]),
   //    ]; 
    
 
    var flightPath = new google.maps.Polyline({
      path: flightPlanCoordinates,
      geodesic: true,
      strokeColor: '#FF0000',
      strokeOpacity: 1.0,
      strokeWeight: 2});

    flightPath.setMap(map);

    google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map,marker);
     });



 //show alert
    google.maps.event.addDomListener(map, 'click', showAlert)



  google.maps.event.addListener(map,'mousemove',function(point)
    {
      document.getElementById('latspan').innerHTML = point.lat()
      document.getElementById('lngspan').innerHTML = point.lng() 
      document.getElementById('latlong').innerHTML = point.lat() + ', ' + point.lng()
    });


  } //end function initialize




google.maps.event.addDomListener(window, 'load', initialize);
 

//show alert
function showAlert() {
  window.alert("hi");
  }


function show_latlng() {
    var newlat = document.getElementById("lat").value;
    var newlng = document.getElementById("lng").value;
    self.newlat = newlat;
    self.newlng = newlng;
    //alert(newlat+', '+newlng);
    document.getElementById("display").innerHTML = 
      'Currently located at (Latitude, Longitude): <b>('
      +self.newlat+', '+self.newlng+')</b>.';
  }

 // function re_create_map() {
 //   var newlatlng = new google.maps.LatLng(document.getElementById("lat").value,document.getElementById("lng").value);
 //   center = newlatlng; 
</script>




<!--Charts -->

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data1 = google.visualization.arrayToDataTable([
        ['Year', 'Mouse1', 'Mouse2'],
        ['2004',  1000,      400],
        ['2005',  1170,      460],
        ['2006',  660,       1120],
        ['2007',  1030,      540]
      ]);
      var options1 = {
          'title': 'Activity',
          'width': 200,
          'height': 150
      };

      var data2 = google.visualization.arrayToDataTable([
        ['Time', 'Mouse2', 'Mouse2'],
        ['12:00',  10,      20],
        ['3:00',  20,      40],
        ['6:00',  34,       20],
        ['9:00',  103,      54]
      ]);
      var options2 = {
          'title': 'Prob',
          'width': 200,
          'height': 150
      };


      var chart1 = new google.visualization.LineChart(document.getElementById('chart_div'));
      var chart2 = new google.visualization.LineChart(document.getElementById('chart_div2'));

      //interactive selection ???
    //function myClickHandler(){
    //  var selection = myVis.getSelection();

    //  for (var i = 0; i < selection.length; i++) {
    //    var item = selection[i];
    //    if (item.row != null && item.column != null) {
    //      message += '{row:' + item.row + ',column:' + item.column + '}';
    //    } else if (item.row != null) {
    //      message += '{row:' + item.row + '}';
    //    } else if (item.column != null) {
    //      message += '{column:' + item.column + '}';
    //    }
    //  }
    //  if (message == '') {
    //    message = 'nothing';
    //  }
    //  alert('You selected ' + message);
   // }
      
      
      chart1.draw(data1, options1);
      chart2.draw(data2, options2);
    }
</script>

</head>





<body>
<!-- 
  <form name="latlng" onClick="show_latlng()" method="get">
  {% comment %} <form name="latlng" action="/maps3.html" method="post">
  {% csrf_token %} {% endcomment %}
  <h3>Enter a latitute and longitude: </h3>
  <label>Latitude:</label> <input type="text" name="lat" id="lat"><br />
  <label>Longitude:</label> <input type="text" name="lng" id="lng"><br />
  <input type="submit" value="Submit">
  </form>
-->
<div id = "text">
<p id="latspan"></p>
<p id ="lngspan"></p>
<p id ="latlong"></p>
<center><h1><a href="maps4.html">Map App</a></h1>
<p><a href="convert.html">export .kml</a></p>
</center>

<div id ="prefs">
{{ message }}<br /> {{db}}

{% comment %}
{{ dtfr_text }} {{dtfr}}
{{ tifr_text }} {{tifr}}
{{ dtto_text }} {{dtto}}
{% endcomment %}

<h3><center>SET PREFERENCES</center></h3>
<form action="/hello/maps4.html" method="get">
  <b>Enter a database table name:</b><br/ >
  <input type="radio" name="db" value="sitelist">sitelist<br />
  <input type="radio" name="db" value="track">track<br />
  <input type="radio" name="db" value="Position">Position<br />

<!--
  <br /><b>Enter a date & time range:</b><br />
  Date from (YYYY-MM-DD): <input type"date" name="dtfr"><br />
  Time from (24hr HH:MM:SS): <input type="time" name="tifr">
   <select>
    <option name="fromampm" value="AM">AM</option>
    <option name="fromampm" value="PM">PM</option>
  </select> <br />

  Date to (YYYY-MM-DD): <input type"date" name="dtto"><br />
  Time to (24hr HH:MM:SS): <input type="time" name="tito">
 <select>
    <option name="toampm" value="AM">AM</option>
    <option name="toampm" value="PM">PM</option>
  </select> -->

  <input type="submit" value="Submit">
</form><br /><br />
</div><!-- end prefs -->
<br />

<div id="mouseover">
<h3><center>MOUSEOVER INFO</center></h3>
<table border="1" style="width=300px">
<tr>Lat:</tr>
<tr><br />Long:</tr>
<tr><br />Easting:</tr>
<tr><br />Northing:</tr>
<tr><br />Date:</tr>
<tr><br />Time:</tr>
<tr><br />Activity:</tr>
<tr><br />Prob. of position:</tr>
<tr><br />Animal ID:</tr>
</table>
</div> <!-- end mouseover -->




<!--
<b>Database values from query:</b><br />
{% for key, value in latlon.items %}
 Lat_{{ forloop.counter }}: {{ key }}<br />
 Lng_{{ forloop.counter }}: {{ value }}<br />
{% endfor %}
-->
</div> <!-- end text -->


<p id="display"></p>


<div id="map-canvas">

</div>
<br />



<div id="chart_div"></div>
<div id="chart_div2"></div>

<!--<div id="chart">
Activity Chart (static image)<br/ >
<img src="../static/hello/linegraph.gif" width="200" height="150">
</div> -->




</body>
</html>
