<!DOCTYPE HTML>
<html>
{% load i18n %}

    <head>
        <!-- Latest compiled and minified CSS -->
        <script src="/static/qraat_site/js/jquery.min.js" type="text/javascript"></script>
        <link rel='stylesheet' type='text/css' href='/static/qraat_site/css/style.css'/>
        {% include "qraat_site/bootstrap" %}
        {% block css %} {% endblock %}
        {% block script %} {% endblock %}
        <title> {% block title %} QRAAT Site {% endblock %} </title>
    </head>

    <body>
        <div id="container" class="container">
            {% block topbar %}
                {% include "qraat_site/navbar.html" %}
            {% endblock %}
            <div class="sidebar">
                {% block sidebar %}
                {% endblock %}
            </div>
            <div style="margin-bottom:1%;" class="content">
                {% block content %} {% endblock %}
            </div>
        </div>
    </body>
</html>
