{% extends "qraat_site/base_form.html" %}
{% block sidebar %}
{% if user.is_authenticated %}
<ul class="nav nav-pills nav-stacked">
    <li class="dropdown-side-element">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Locations
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">  
            <li>
            <a href={%url 'qraat:add-location' project.ID %}>Add Location</a>
            </li>
        </ul>
    </li>
    <li class="dropdown-side-element">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Transmitters
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">  
            <li>
            <a href={%url 'qraat:add-transmitter' project.ID %}>Add Transmitter</a>
            </li>
        </ul>
    </li>
    <li class="dropdown-side-element">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Targets
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
            <a href={% url 'qraat:add-target' project.ID %}>Add Target</a>
            </li>
        </ul>
    </li>
    <li class="dropdown-side-element">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle"> Deployments
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
            <a href={% url 'qraat:add-deployment' project.ID %}>Add Deployment</a>
            </li>
        </ul>
    </li>
</ul>

{% endif %}
{%endblock%}
