{% extends "qraat_site/edit_project_base.html" %}
{% load class_tag %}

{% block css %}

<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/SelectBox.js"></script>
<script type="text/javascript" src="/static/admin/js/SelectFilter2.js"></script>
<link href="/static/admin/css/widgets.css" rel="stylesheet">

{% endblock %}

{% block content %}
<div class="page-header"><h3>Project Edition</h3></div>
{% if changed %}
<div class="alert alert-success" role="alert"> Project was successfully changed </div>
{% endif %}
<div class="form-container"> 
  <form  method="post">
    {% csrf_token %}
	<!-- Display form errors -->
	{% if form.non_field_errors %}
		<div class="alert alert-danger">
			{{ form.non_field_errors }}
		</div>
	{% endif %}
	<!-- Loop over form fields -->
	<div class="input-group-container">
	{% for field in form %}
			{% if field.errors %}
				{% for error in field.errors %}
					<div class="input-error">
						* {{ error|escape}}
					</div>
				{% endfor %}
			{% endif %}
		<!-- Display form fields -->
			<div class="input-group input-lg">
                {% if field.field.widget|get_class == "CheckboxInput" %}
                <input class="form-control" value="{{field.label}}" disabled></input>
                    <span class="input-group-addon">
                        {{field}}
                    </span>
                {% elif field.field.widget|get_class == "FilteredSelectMultiple" %}
                <h5>
                {{ field.label }}:
                </h5>
                <div class="form-row">
                    {{field}}
                </div>
                {% else %}
                <span class="input-group-addon">
                    {{ field.label_tag}}
                </span>
				{{ field }}
                {% endif %}
			</div>
	{% endfor %}
	<div class="input-group submit-btn">
		<div class="btn-group">
			<button class="btn btn-primary btn-lg" type="submit" value="edit-project">Save changes</button>
		</div>
	</div>
	</div>
 </form>
</div>
{% endblock %}
