{% extends "qraat_site/manage_project_base.html" %}
{% load project_filters %}

{%block success_msg %} Transmitter created {% endblock %}
{% block deleted_msg %} Transmitters deleted {% endblock %}

{% block content %}
<script>
    $(document).ready(function(){
        $("#check-all").click(function(){
            console.log($(this).prop("checked"));
            if(!$(this).prop("checked")){
                $(".element-check-box").each(function(){
                    $(this).prop('checked', false);
                });
            }else{
                $(".element-check-box").each(function(){
                    $(this).prop('checked', true);
                });
            }
        });
    });
</script>

<div class="page-header">
    <h4>
        Transmitters
        <a style="margin-left: 5%;" href={% url 'qraat:add-transmitter' project.ID %}>
        <input type="button" class="btn btn-primary" value="Add transmitter" name="create-transmitter" />
    </a>
    </h4>
</div>

{% block form %} {{block.super}} {% endblock %}

<form action={%url 'qraat:check-deletion' project.ID %} method="post">
    {% csrf_token %}
    <button style="margin-bottom: 1%;" type="submit" class="btn btn-danger btn-sm">
        Delete selected transmitters
        <span class="glyphicon glyphicon-trash"></span>
    </button>
    <input type=hidden name="object" value="transmitter"/>

<table class="table" id="transmitters">
    <tr>
        <td>
        <td>
            <input id="check-all" type="checkbox" value="check-all" name="check-all"> </input>
        </td>
        <td>Name</td>
        <td>Serial number</td>
        <td>Model</td>
        <td>Manufacturer</td>
        <td>Frequency</td>
    </tr>
    {% for transmitter in project.get_transmitters %}
    <tr>
        <td> 
            <a title="Edit transmitter"\
                href={% url 'qraat:edit-transmitter' project.ID transmitter.ID %}>
                <button type="button" class="btn btn-default btn-xs" value="" name="">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </a>
        <td><input class="element-check-box" type="checkbox" name="selected" value={{transmitter.ID}}></input></td>
        <td>{{transmitter.name}}</td>
        <td>{{transmitter.serial_no}}</td>
        <td>{{transmitter.tx_makeID.model}}</td>
        <td>{{transmitter.tx_makeID.manufacturer}}</td>
        <td>{{transmitter.frequency}}</td>
    </tr>
    {% endfor %}
</table>
</form>
{% endblock %}
