{% extends "qraat_site/base_form.html" %}
{% block sidebar %}
{% if user.is_authenticated %}
<ul class="nav nav-pills nav-stacked">
    <li>
        <ul role="menu">  
            <li>
            <a href={%url 'qraat:manage-locations' project.ID %}>Manage Locations</a>
            </li>
        </ul>
    </li>
    <li>
        <ul role="menu">  
            <li>
            <a href={%url 'qraat:manage-transmitters' project.ID %}>Manage Transmitters</a>
            </li>
        </ul>
    </li>
    <li>
        <ul>
            <li>
            <a href={% url 'qraat:manage-targets' project.ID %}>Manage Targets</a>
            </li>
        </ul>
    </li>
    <li>
        <ul>
            <li>
            <a href={% url 'qraat:manage-deployments' project.ID %}>Manage Deployments</a>
            </li>
        </ul>
    </li>
</ul>

{% endif %}
{%endblock%}
