{% extends "qraat_site/manage_side_bar.html" %}
{% load project_filters %}
{% load class_tag %}

{%block success_msg %} Item created {% endblock %}
{% block deleted_msg %} Item deleted {% endblock %}

{% block content %}
<script>
    $(document).ready(function(){
        $("#check-all").click(function(){
            console.log($(this).prop("checked"));
            if(!$(this).prop("checked")){
                $(".element-check-box").each(function(){
                    $(this).prop('checked', false);
                });
            }else{
                $(".element-check-box").each(function(){
                    $(this).prop('checked', true);
                });
            }
        });
    });
</script>

<div class="page-header">
    <h4>
        {% block managed_obj %} Items {% endblock %}
        <a style="margin-left: 5%;" href={% block add_url %} {% url 'index' %} {% endblock %}>

            <input type="button" class="btn btn-primary" value="Add {{obj_type}}"  name="create-transmitter" />
    </a>
    </h4>
</div>

{% block form %} {{block.super}} {% endblock %}

<form action={%url 'qraat:check-deletion' project.ID %} method="post">
    {% csrf_token %}
    <input type=hidden name="object" value={{obj_type}}></input>
{%if objects.0 %}

    <button style="margin-bottom: 1%;" type="submit" class="btn btn-danger btn-sm">
        Delete selected items
        <span class="glyphicon glyphicon-trash"></span>
    </button>

    <table class="table">
        <tr>
            <td>
            <td>
                <input id="check-all" type="checkbox" value="check-all" name="check-all"> </input>
            </td>
            {% for field in objects.0|get_fields %}
                {% if field.name not in excluded_fields and field.name not in foreign_fields %} 
                    <td>{{ field.verbose_name }}</td>
                {% endif %}
            {% endfor %}
            
            <!-- joins on the table values from foreign_keys -->
            {% for foreign_field in foreign_fields %}
             {% with obj=objects.0|get_attr:foreign_field %}

                {% for field in obj|get_fields %}
                    {% if field.name not in excluded_fields and field.name not in foreign_fields %}
                        <td>{{field.verbose_name}}</td>
                    {% endif %}
                {% endfor %}

             {% endwith %}
            {% endfor %}

        </tr>
        {% for object in objects %}
        <tr>
            <td> 
                <a title="Edit item"\
                    href={% url 'qraat:edit-'|add:object.verbose_name|lower project.ID object.ID %}>
                    <button type="button" class="btn btn-default btn-xs" value="" name="">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </a>
            <td><input class="element-check-box" type="checkbox" name="selected" value={{ object.ID}}></input></td>
            {% for field in object|get_fields %}
                {% if field.name not in excluded_fields and field.name not in foreign_fields %} 
                    <td>{{field.string_value}}</td>
                {% endif %}
            {% endfor %}
            
            <!-- joins on the table values from foreign_keys -->
            {% for foreign_field in foreign_fields %}
             {% with obj=objects.0|get_attr:foreign_field %}

                {% for field in obj|get_fields %}
                    {% if field.name not in excluded_fields and field.name not in foreign_fields %}
                        <td>{{field.string_value}}</td>
                    {% endif %}
                {% endfor %}

             {% endwith %}
            {% endfor %}

        </tr>
        {% endfor %}
    </table>
{% endif %}

</form>
{% endblock %}
