{% extends "account/base.html" %}

{% block content %}

<div class="user-account">
    <div class="page-header">
        <h1>User Account</h1>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
        <h4 class="list-group-item-heading">Email</h4>
        <p class="list-group-item-text">{{user.email}}</p>
        <br>
        </li>
        <li class="list-group-item">
        <h4 class="list-group-item-heading">First name</h4>
        <p class="list-group-item-text">{{user.first_name}}</p>
        <br/>
        </li>
        <li class="list-group-item">
        <h4 class="list-group-item-heading">Last name </h4>
        <p class="list-group-item-text">{{user.last_name}}</p>
        <br/>
        </li>
    </ul>
    <div class="button-group">
        <a href= {% url "account:edit-account" %}>
            <input type="button" class="btn btn-default" value="Edit" name="edit-account" />
        </a>
        <a href = {% url "account:change-password" %}>
            <input type="button" class="btn btn-default" value="Change password" name="change-password" />
        </a>
            
    </div>
</div>

{% endblock %}
